/*======================================
  Selectric
======================================*/
.selectric-wrapper {
  position: relative;
  cursor: pointer;
}

.selectric-responsive {
  width: 100%;
}

.selectric {
  border: 2px solid @sitegold;
  background: @white;
  position: relative;
  border-radius: 0;
}

.selectric .label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 15px;
  .font-size(16);
  line-height: 1em;
  color: @sitepurple;
  min-height: 20px;
  font-family: @font-light;
}

/*Medium: Breakpoint*/
@media only screen and (min-width: @breakpoint-medium) {

  .selectric .label {
    .font-size(18);
  }
}

/*Large: 1024px*/
@media only screen and (min-width: @breakpoint-large) {
  .selectric .label {
    .font-size(20);
  }
}

/*Extra Large: 1140px*/
@media only screen and (min-width: @breakpoint-xlarge) {
  .selectric .label {
    .font-size(22);
  }
}

.selectric .button {
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  width: 42px;
  .translate(0,-50%);
  color: @sitegold;
  text-align: center;
  font: 0/0 a;
  /* IE Fix */
  *font: 20px/30px Lucida Sans Unicode, Arial Unicode MS, Arial;
}

.selectric .button:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: #BBB;
  border-bottom: none;
}

.selectric-focus .selectric {
  border-color: @sitepurple;
}

.selectric-hover .selectric {
  border-color: @sitepurple;
}

.selectric-hover .selectric .button {
  color: #888;
}

.selectric-hover .selectric .button:after {
  border-top-color: #888;
}

.selectric-open {
  z-index: 9999;
}

.selectric-open .selectric {
  border-color: @sitepurple;
  background: #F0F0F0;
  border-bottom-width: 0;
  padding-bottom: 2px;
}

.selectric-open .selectric-items {
  display: block;
}

.selectric-open.selectric-above .selectric {
  border-top-width: 0;
  border-bottom-width: 2px;
}

.selectric-open.selectric-above .selectric-items {
  border-bottom-width: 0;
  border-top-width: 2px;
}

.selectric-disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;
}

.selectric-hide-select select {
  position: absolute;
  left: -100%;
}

.selectric-hide-select.selectric-is-native {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.selectric-hide-select.selectric-is-native select {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border: none;
  z-index: 1;
  box-sizing: border-box;
  opacity: 0;
}

.selectric-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: 0/0 a !important;
  background: none !important;
}

.selectric-temp-show {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}

/* Items box */
.selectric-items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #F0F0F0;
  border: 2px solid @sitepurple;
  border-top-width: 0;
  z-index: -1;
  padding: 0;
}

.selectric-items .selectric-scroll {
  height: 100%;
  overflow: auto;
}

.selectric-above .selectric-items {
  top: auto;
  bottom: 100%;
}

.selectric-items ul, .selectric-items li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  min-height: 20px;
}

.selectric-items li {
  display: block;
  padding: 10px 20px;
  color: @sitepurple;
  cursor: pointer;
}

.selectric-items li.highlighted {
  background: @sitepurple;
  color: @white;
}

.selectric-items li.selected {
  background: @sitegold;
  color: @white;
}

.selectric-items li:hover {
  background: @sitegold;
  color: @white;
}

.selectric-items .disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default !important;
  background: none !important;
  color: #666 !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.selectric-items .selectric-group .selectric-group-label {
  font-weight: bold;
  padding-left: 10px;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: none;
  color: #444;
}

.selectric-items .selectric-group.disabled li {
  filter: alpha(opacity=100);
  opacity: 1;
}

.selectric-items .selectric-group li {
  padding-left: 25px;
}
