{# Location: Latin America #}

<div id="modal--latin-01" class="modal--location">

	<div class="uk-modal-dialog uk-modal-body">

		<img src="{{ url('assets/img/ferrari-zagatto@3x.png') }}" alt="Ferrari Zagatto logo">

		<a href="#" class="uk-modal-close-default uk-close" uk-icon="close" uk-toggle="target: #modal--latin-01; cls: uk-open;"></a>

		<h2 class="uk-modal-title">Paraná, Brazil</h2>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>

		<a href="#" class="uk-button">Visit Website</a>

		<span class="arrow arrow--left"></span>

	</div>

</div>

<div id="modal--latin-02" class="modal--location">

	<div class="uk-modal-dialog uk-modal-body">

		<img src="{{ url('assets/img/10662210546-ae-22848-e-283899-e-0-cba-61@3x.png') }}" alt="Fortgreen logo">

		<a href="#" class="uk-modal-close-default uk-close" uk-icon="close" uk-toggle="target: #modal--latin-02; cls: uk-open;"></a>

		<h2 class="uk-modal-title">Brazil</h2>

		<p>Fortgreen is an established leader in the development and marketing of value added crop nutrition and speciality inputs in Brazil.</p>

		<a href="#" class="uk-button">Visit Website</a>

		<span class="arrow arrow--left"></span>

	</div>

</div>