{# Content Blocks #}

{% if entry.contentBlocks|length %}

	{% for block in entry.contentBlocks.all() %}

		{% set currentLoop = loop.index %}
		{% set nextLoop = loop.index + 1 %}

		{% set blockVars = { currentLoop : loop.index, nextLoop : loop.index + 1 } %}

		{% switch block.type %}

			{# Call to Action Columns #}

			{% case "ctaCols" %}

				{% include '_inc/_blocks/_ctaCols' with blockVars %}

			{# Call to Action Columns with Icons #}

			{% case "ctaColsIcons" %}

				{% include '_inc/_blocks/_ctaColsIcons' with blockVars %}

			{# Figures #}

			{% case "figures" %}

				{% include '_inc/_blocks/_figures' with blockVars %}

			{# Background Image CTAs #}

			{% case "bgImgCtas" %}

				{% include '_inc/_blocks/_bgImgCtas' with blockVars %}

			{# Image & Copy (home) #}

			{% case "imageCopyHome" %}

				{% include '_inc/_blocks/_imageCopyHome' with blockVars %}

			{# Image & Copy #}

			{% case "imageCopy" %}

				{% include '_inc/_blocks/_imageCopy' with blockVars %}

			{# Our Businesses Map #}

			{% case "ourBusinessesMap" %}

				{% include '_inc/_blocks/_ourBusinessesMap' with blockVars %}

			{# Video, Image & Copy #}

			{% case "videoImageCopy" %}

				{% include '_inc/_blocks/_videoImageCopy' with blockVars %}

			{# Stats #}

			{% case "stats" %}

				{% include '_inc/_blocks/_stats' with blockVars %}

			{# Stats (at a glance) #}

			{% case "statsAtAGlance" %}

				{% include '_inc/_blocks/_statsAtAGlance' with blockVars %}

			{# Stats (with background images) #}

			{% case "statsBgImg" %}

				{% include '_inc/_blocks/_statsBgImg' with blockVars %}

			{# Page Call to Action #}

			{% case "pageCallToAction" %}

				{% include '_inc/_blocks/_pageCallToAction' with blockVars %}

			{# Leadership Team #}

			{% case "leadershipTeam" %}

				{% include '_inc/_blocks/_leadershipTeam' with blockVars %}

			{# Padding #}

			{% case "padding" %}

				{% include '_inc/_blocks/_padding' with blockVars %}

			{# Plain Text #}

			{% case "plainText" %}

				{% include '_inc/_blocks/_plainText' with blockVars %}

			{# Contact #}

			{% case "contact" %}

				{% include '_inc/_blocks/_contact' with blockVars %}

			{# Table #}

			{% case "table" %}

				{% include '_inc/_blocks/_table' with blockVars %}

			{# List & Image #}

			{% case "listImage" %}

				{% include '_inc/_blocks/_listImage' with blockVars %}

			{# Stay Informed #}

			{% case "stayInformed" %}

				{% include '_inc/_blocks/_stayInformed' with blockVars %}

			{# Update Blocks #}

			{% case "updateBlocks" %}

				{% include '_inc/_blocks/_updateBlocks' with blockVars %}

			{# Reports & Presentations #}

			{% case "reportsPresentations" %}

				{% include '_inc/_blocks/_reportsPresentations' with blockVars %}

			{# iFrame #}

			{% case "iframe" %}

				{% include '_inc/_blocks/_iframe' with blockVars %}

			{# FAQs #}

			{% case "faqs" %}

				{% include '_inc/_blocks/_faqs' with blockVars %}

			{# News List #}

			{% case "newsList" %}

				{% include '_inc/_blocks/_newsList' with blockVars %}

			{# History Timeline #}

			{% case "historyTimeline" %}

				{% include '_inc/_blocks/_historyTimeline' with blockVars %}

			{# Grid Content #}

			{% case "gridContent" %}

				{% include '_inc/_blocks/_gridContent' with blockVars %}

			{# Corporate News List #}

			{% case "corporateNewsList" %}

				{% include '_inc/_blocks/_corporateNewsList' with blockVars %}

			{% default %}

		{% endswitch %}

	{% endfor %}

{% endif %}