<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Craft Commerce Example Templates</title>

    <meta name="description" content="{{ "The example templates for Craft Commerce"|t }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="application/javascript" src="/shop/jquery.js"></script>
    <link rel="stylesheet" href="/shop/tailwind.css">
    <link rel="stylesheet" href="/shop/style.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/html-inspector/0.8.2/html-inspector.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    {% if extraHead is defined %}
        {{ extraHead }}
    {% endif %}
</head>
<body class="bg-gray-100">

    {% if cart is not defined %}
        {% set cart = craft.commerce.carts.cart %}
    {% endif %}

    {% if showNav is not defined %}
        {% set showNav = true %}
    {% endif %}

    <div class="bg-gray-200">
        <div id="header" class="container mx-auto md:flex justify-between items-center p-6 text-center">

            {#<h3 class="font-semibold">Example Templates</h3>#}

            <img src="{{ url('assets/img/logo.svg') }}" alt="logo" style="max-width: 200px; height: auto;">

            {% if showNav %}
                {% include "shop/_includes/nav" %}
            {% endif %}

            {% if extraHeader is defined %}
                {{ extraHeader }}
            {% endif %}
        </div>
    </div>

    {% set flashNotice = craft.app.session.getFlash('notice') %}

    {% if flashNotice %}
        <div class="bg-blue-500 text-white">
            <div class="flash container mx-auto px-6 py-4">
                {{ flashNotice }}
            </div>
        </div>
    {% endif %}

    {% set flashError = craft.app.session.getFlash('error') %}

    {% if flashError %}
        <div class="bg-red-500 text-white">
            <div class="flash container mx-auto px-6 py-4">
                {{ flashError }}
            </div>
        </div>
    {% endif %}

    {% if cart.errors|length %}
        <div class="bg-red-500 text-white">
            <div class="container mx-auto px-6 py-4">
                {% for attribute, errors in cart.errors %}
                    {% if loop.first %}<ul>{% endif %}
                    {% for key, error in errors %}
                        <li>{{ attribute }}: {{ error }}</li>
                    {% endfor %}
                    {% if loop.last %}</ul>{% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% block body %}
        <div class="bg-white">
            <div id="main" class="container mx-auto p-6">
                {% block main %}
                    <h1 class="text-xl font-semibold">Default Content</h1>
                    <p>You should not see this.</p>
                {% endblock %}
            </div>
        </div>
    {% endblock %}

    <footer class="container mx-auto p-2 pt-10">
        <div class="flex flex-wrap">
            <div class="flex-grow bg-white rounded m-2 p-6 pt-0 shadow-inner">
                {% include 'shop/_includes/debug' %}
            </div>
            <div class="flex-grow bg-white rounded m-2 p-6 pt-0 shadow-inner">
                {% include 'shop/_includes/shortcuts' %}
            </div>
            <div class="flex-grow bg-white rounded m-2 p-6 pt-0 shadow-inner">
                {% include 'shop/_includes/help' %}
            </div>
        </div>
    </footer>
</body>
</html>
