{# Menu - Footer Left #}

{% set nodes = craft.navigation.nodes()
    .handle('footerTop')
    .all()
%}

{% if nodes|length %}

	<ul class="links">

		{% nav node in nodes %}

			<li><a href="{{ node.url }}" class="uk-button">{{ node.title }}</a></li>

		{% endnav %}

	</ul>

{% endif %}