{# Menu - Footer Bottom #}

{% set nodes = craft.navigation.nodes()
    .handle('footerBottom')
    .all()
%}

{% if nodes|length %}

	<ul id="menu--footer-bottom" class="menu--footer-bottom">

		{% nav node in nodes %}

			<li><a href="{{ node.url }}">{{ node.title }}</a></li>

		{% endnav %}

	</ul>

{% endif %}