{# Menu - Main #}

{% set nodes = craft.navigation.nodes()
    .handle('main')
    .all()
%}

<nav class="uk-navbar-container uk-navbar-transparent nav--main" uk-navbar>

    <div class="uk-navbar-center">

        <ul class="uk-navbar-nav menu--main" id="menu--main">

        	{% nav node in nodes %}

				<li class="{% if node.classes %} {{ node.classes }}{% endif %}{% if node.active %} uk-active{% endif %}{% if node.hasDescendants %} uk-parent{% endif %}{% if node.hasActiveChild %} uk-active uk-active--parent{% endif %}">

					<a href="{{ node.url }}">{{ node.title }}</a>

					{% ifchildren %}

						<div class="uk-navbar-dropdown">

	                    	<ul class="uk-nav uk-navbar-dropdown-nav menu--sub-menu">

				                {% children %}

				            </ul>

				        </div>

		            {% endifchildren %}

		        </li>

			{% endnav %}

		</ul>

    </div>

</nav>