{# Menu - Mobile #}

{% set nodesMobile = craft.navigation.nodes()
    .handle('socialMedia')
    .all()
%}

<ul class="social-links">

	{% nav node in nodesMobile %}

		<li>

			<a href="{{ node.title }}" target="_blank" title="{{ node.title }}">

				{% if node.img|length %}

					{% set asset = node.img.one() %}
					
					<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}">

				{% else %}
					
					{{ node.title }}

				{% endif %}

			</a>

		</li>

	{% endnav %}

</ul>