{# Block - Advice Forms #}

<section class="section--advice-forms" id="section--advice-forms">

	<div class="container--advice-forms">

		<div class="uk-container">

			{# Heading / Copy #}

			{% if blockAdviceForm.copy|length %}
				
				<div class="block--heading block--advice-forms--heading">
				
					<div class="inner--heading inner--advice-forms--heading">
					
						{{ blockAdviceForm.copy }}
					
					</div>
				
				</div>

			{% endif %}

			{# Forms Switcher #}

			{% if blockAdviceForm.form|length or blockAdviceForm.form2|length %}

				{# Set Nav #}

				{% set switcherNav = null %}

				{% if blockAdviceForm.form|length %}

					{% set switcherNav %}

						<li class="uk-width-1-2"><a href="#">{{ blockAdviceForm.form.name }}</a></li>

					{% endset %}

				{% endif %}

				{% if blockAdviceForm.form2|length %}

					{% set switcherNav %}

						{{ switcherNav }}

						<li class="uk-width-1-2"><a href="#">{{ blockAdviceForm.form2.name }}</a></li>

					{% endset %}

				{% endif %}

				{# Set Content #}

				{% set switcherContent = null %}
				
				{% if blockAdviceForm.form|length %}

					{% set switcherContent %}

						<div class="switcher--form">

							{{ craft.freeform.form(blockAdviceForm.form.handle, {
								overrideValues: {
									whatTypeOfAdviceToYouRequire: entry.slug
								}
							}).render() }}
						
						</div>

					{% endset %}

				{% endif %}

				{% if blockAdviceForm.form2|length %}

					{% set switcherContent %}

						{{ switcherContent }}

						<div class="switcher--form">
						
							{{ craft.freeform.form(blockAdviceForm.form2.handle, {
								overrideValues: {
									whatTypeOfAdviceToYouRequire: 'option 1'
								}
							}).render() }}
						
						</div>

					{% endset %}

				{% endif %}

				<div class="block--advice-forms--forms">

					<div class="inner--advice-forms--forms">

						{% if switcherNav != null %}

							<div class="advice-forms--nav">
							
								<ul class="uk-subnav uk-subnav-pill uk-flex uk-flex-center" uk-switcher="connect: .advice-forms--switcher; animation: uk-animation-fade;">

									{{ switcherNav }} 

								</ul>
							
							</div>

						{% endif %}

						{% if switcherContent != null %}
				
							<div class="advice-forms--content">
							
								<div class="advice-forms--switcher uk-switcher uk-margin">
								    
									{{ switcherContent }}

								</div>
							
							</div>

						{% endif %}
				
					</div>

				</div>

			{% endif %}

		</div>

	</div>

</section>