{# Block - Copy & Image #}

<section class="section--copy-image">

	<div class="uk-container--copy-image">
	
		<div class="uk-container">
			
			<div class="grid--copy-image--content" uk-grid>
			
				{% if block.copy|length %}

					<div class="block--copy-image--copy uk-width-1-1 uk-width-1-2@s uk-width-2-5@m">
					
						<div class="inner--copy-image--copy hide-element" uk-scrollspy="cls: animated show--element fadeInUp; delay: 250;">

							{{ block.copy }}

							{% if block.button|length %}

								<div class="copy--button">
								
									{% set attributes = {
										class: 'uk-button button--transparent',
			                            id: ''
			                        } %}

			                        {{ block.button.link(attributes) }}
								
								</div>

							{% endif %}

						</div>
					
					</div>

				{% endif %}

				{% if block.img|length %}

					{% set asset = block.img.one() %}

					<div class="block--copy-image--img uk-width-1-1 uk-width-1-2@s uk-width-3-5@m">
					
						<div class="inner--copy-image--img">

							<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}" class="hide--element" uk-scrollspy="cls: animated show--element fadeInRight; delay: 500;">

						</div>
					
					</div>

				{% endif %}
			
			</div>

		</div>
	
	</div>

</section>