{# Block - Points #}

<section class="section--points">

	{# Heading #}

	{% if block.heading|length %}

		<div class="container--points--heading">

			<div class="element--points--heading-arrow uk-visible@l hide--element" uk-scrollspy="cls: animated show--element fadeInLeft; delay: 500;">
			
				<img src="{{ url('assets/img/icon-logo-arrow-left.svg') }}" alt="logo arrow icon">
				
			</div>
		
			<div class="uk-container">
			
				<div class="block--heading block--points--heading">
				
					<div class="inner--heading inner--points--heading hide--element" uk-scrollspy="cls: animated show--element fadeInDown; delay: 250;">
					
						{{ block.heading }}
					
					</div>
				
				</div>
			
			</div>
		
		</div>		

	{% endif %}

	{# Points #}

	{% if block.points|length %}

		{% set points = block.points.all() %}

		<div class="container--points--cols{% if not block.heading|length %} add-padding{% endif %}" uk-height-match="target: .inner--points--col;">
	
			<div class="uk-container"{#  uk-height-match="target: .column-heading > h3;" #}>

				<div class="grid--points--cols" uk-grid uk-height-match="target: .point-heading;">

					{% for point in points %}

						<div class="block--points--col uk-width-1-1 uk-width-1-3@s {{ cycle(['odd', 'even'], loop.index0) }}">
						
							<div class="inner--points--col">

								{# Column Headings #}
							
								{% if point.heading|length or point.icon|length %}

									<div class="point-heading">

										{% if point.icon|length %}

											{% set asset = point.icon.one() %}

											<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}" class="hide--element" uk-scrollspy="cls: animated show--element fadeInUp; delay: 250">

										{% endif %}
									
										{% if point.heading|length %}

											<h3 class="hide--element" uk-scrollspy="cls: animated show--element fadeIn; delay: 250">{{ point.heading }}</h3>

										{% endif %}
									
									</div>

								{% endif %}

								{# Copy #}

								{% if point.copy|length %}

									<div class="point-copy hide--element" uk-scrollspy="cls: animated show--element fadeIn; delay: 400">

										{{ point.copy }}
									
									</div>

								{% endif %}
							
							</div>
						
						</div>
						
					{% endfor %}

				</div>
			
			</div>

		</div>

	{% endif %}

</section>