{# Block - Service Intro #}

<section class="section--service--intro" id="section--service--intro">

	<div class="uk-container">
	
		<div class="block--service--intro">
		
			<div class="inner--service--intro">

				{{ entry.intro }}

			</div>
		
		</div>
	
	</div>

</section>