{# Block - Service Banner #}

<section class="section--banner section--service--banner">

	<div class="container--banner">

		{# Animated Arrows #}

		{% if entry.banner.one().addAnimatedArrows == 1 %}

			{% include "_inc/_blocks/_animatedArrows" with { arrowType : 'regular' } %}

		{% endif %}
	
		<div class="uk-container">

			{# Heading / Button #}

			<div class="block--banner--heading">

				<div class="inner--banner--heading hide--element" uk-scrollspy="cls: animated show--element fadeInUp; delay: 250;">

					{% if entry.banner.one().copyOverride|length %}
				
						{{ block.heading }}

					{% else %}

						<h1>{{ entry.title }}</h1>
						
					{% endif %}
				
				</div>

				<div class="block--banner--button">

					<div class="inner--banner--button hide--element" uk-scrollspy="cls: animated show--element fadeIn; delay: 500;">

						<a href="#section--service--intro" class="uk-button button--dark-green" uk-scroll>Find out more</a>
					
					</div>
				
				</div>
			
			</div>

			{# Image #}

			{% if entry.banner.one().img|length %}

				{% set asset = entry.banner.one().img.one() %}

				<div class="block--banner--img">

					<div class="inner--banner--img hide--element" uk-scrollspy="cls: animated show--element fadeIn; delay: 500;">
					
						<img src="{{ asset.getUrl() }}" title="{{ asset.title }}">
					
					</div>
				
				</div>

			{% endif %}

		</div>
	
	</div>

</section>