{#:::: Freeform Template: UIKit ::::#}

{{ form.renderTag }}

{% do view.registerJsFile("https://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.79/jquery.form-validator.min.js") %}

{% js %}

    $.validate();

{% endjs %}

{% if form.hasErrors %}

    {% js %}

        UIkit.notification({
            message: 'There was an error submitting this form.',
            status: 'danger',
            pos: 'top-center',
            timeout: 5000
        });

    {% endjs %}

{% endif %}

<div uk-grid class="uk-grid-medium {{ form.customAttributes.rowClass }} uk-grid-collapse">

    {% for row in form %}

        {% for field in row %}

            {% set validation = "" %}

            {% if field.required == 1 %}

                {% set validation = "required" %}

            {% endif %}

            {% if field.type == "email" %}

                {% set validation = "email" %}

            {% endif %}

            {% set isCheckbox = field.type in ["checkbox","mailing_list"] %}

            {% set columnClass = "uk-width-1-1@s" %}
            {% set columnClass = columnClass ~ form.customAttributes.columnClass %}

            {% if field.type == "submit" %}

                {% set columnClass = columnClass ~ " submit submit-align-" ~ field.position %}

            {% endif %}

            {% if field.type == "checkbox_group" %}

                <div class="uk-width-1-1">
                
                    {{ field.renderLabel({
                        labelClass: (field.required ? " required" : ""),
                        instructionsClass: "help-text",
                    }) }}

                    {% for option in field.options %}

                        <label>

                            <input type="checkbox"
                                name="{{ field.handle }}[]"
                                value="{{ option.value }}"
                                class="uk-checkbox" 
                                {{ option.checked ? "checked" : "" }}
                                data-validation="{{ validation }}"
                            />

                            <span>{{ option.label }}</span>

                        </label>

                    {% endfor %}

                    {{ field.renderInstructions() }}
                    {{ field.renderErrors() }}

                </div>

            {% elseif field.type == "radio_group" %}

                {% set columnClass = "uk-width-1-1" %}
                {% set columnClass = columnClass ~ form.customAttributes.columnClass %}

                <div class="{{ columnClass }}">

                    {{ field.renderLabel({
                        labelClass: (field.required ? " required" : ""),
                        instructionsClass: "help-text",
                    }) }}

                    {% for option in field.options %}
                        <div class="radio">
                            <label>
                                <input type="radio"
                                    name="{{ field.handle }}"
                                    value="{{ option.value }}"
                                    {{ option.checked ? "checked" : "" }}
                                    data-validation="{{ validation }}"
                                />
                                {{ option.label }}
                            </label>
                        </div>
                    {% endfor %}

                    {{ field.renderInstructions() }}
                    {{ field.renderErrors() }}

                </div>

            {% elseif field.type == "dynamic_recipients" and field.showAsRadio %}

                {% set columnClass = "uk-width-1-1" %}
                {% set columnClass = columnClass ~ form.customAttributes.columnClass %}

                <div class="{{ columnClass }}">

                    {{ field.renderLabel({
                        labelClass: (field.required ? " required" : ""),
                        instructionsClass: "help-text",
                    }) }}

                    {% for option in field.options %}
                        <div class="radio">
                            <label>
                                <input type="radio"
                                    name="{{ field.handle }}"
                                    value="{{ loop.index0 }}"
                                    {{ option.checked ? "checked" : "" }}
                                    data-validation="{{ validation }}"
                                />
                                {{ option.label }}
                            </label>
                        </div>
                    {% endfor %}

                    {{ field.renderInstructions() }}
                    {{ field.renderErrors() }}

                </div>

            {% elseif field.type == "file" %}

                {% if field.label|length %}

                    <div class="title uk-visible@s uk-width-1-1 uk-text-center uk-margin-remove-bottom ">
                    
                        <p>{{ field.label }}</p>

                    </div>

                {% endif %}

                <div class="uk-width-1-1 uk-grid-margin" data-type="{{ field.label }} - {{ field.id }} - {{ field.handle }}">

                    <div class="uk-margin" uk-margin>

                        <div class="uk-width-1-1" uk-form-custom="target: true">

                            <input type="file" data-validation="required" id="{{ field.id }}" name="{{ field.handle }}">

                            <input class="uk-input uk-file" type="text" placeholder="{{ field.instructions }}" disabled>

                        </div>

                    </div>

                </div>

            {% elseif field.type == "select" %}

                <div class="uk-width-1-1 uk-margin-top">

                    <label for="form-input-{{ field.handle }}" class="label--select">{{ field.label }}</label>

                    <select class="uk-select" name="{{ field.handle }}" id="form-input-{{ field.handle }}" data-validation="required">

                        {% if field.handle == "whatTypeOfAdviceToYouRequire" %}

                            <option value="">Select a service...</option>

                            {% set servicesQuery = craft.entries()
                                .section('pages')
                                .descendantOf(7)
                            %}

                            {% set services = servicesQuery.all() %}

                            {% for service in services %}

                                <option value="{{ service.title }}">{{ service.title }}</option>
                                
                            {% endfor %}

                            <option value="Other">Other</option>

                        {% endif %}

                    </select>

                    {% if field.renderErrors()|length %}

                        <span class="help-block form-error">{{ field.renderErrors() }}</span>

                    {% endif %}

                </div>

            {% elseif field.type == "checkbox" %}

                <div class="uk-width-1-1">

                    <label class="label--checkbox">

                        <input type="checkbox"
                            name="{{ field.handle }}"
                            value="yes"
                            class="uk-checkbox" 
                            {{ field.checked ? "checked" : "" }}
                            data-validation="{{ validation }}"
                        >

                        <span>{{ field.label }}</span>

                        <span class="val"></span>

                        {% if field.renderErrors()|length %}

                            <span class="help-block form-error">{{ field.renderErrors() }}</span>

                        {% endif %}

                    </label>

                </div>

            {% elseif field.type == "submit" %}

                {% set columnClass = "uk-width-1-1" %}
                {% set columnClass = columnClass ~ form.customAttributes.columnClass %}

                <div class="{{ columnClass }} form-element">

                    {{ field.render({ class: "uk-button button--dark-green button--form" }) }}

                </div>

            {% else %}

                {% set inputClass = "uk-input" %}

                {% if field.type == "textarea" %}

                    {% set columnClass = "uk-width-1-1" %}
                    {% set columnClass = columnClass ~ form.customAttributes.columnClass %}
                    {% set inputClass = "uk-textarea" %}
                    
                {% endif %}

                <div class="{{ columnClass }} form-element">
                        
                    {{ field.render({
                        class: inputClass,
                        instructionsClass: "help-text",
                        instructionsBelowField: true,
                        labelClass: (field.required ? " required" : ""),
                        inputAttributes: { "data-validation": validation }
                    }) }}

                    <span class="val"></span>

                </div>

            {% endif %}

        {% endfor %}
        
    {% endfor %}

</div>

{{ form.renderClosingTag }}