{# Block: Banner Share Price #}

<section class="shared-price-section">

	<div class="uk-container">

		<div class="shared-price-block">

			<div uk-grid class="uk-grid-small uk-flex-middle">

				<div class="uk-width-1-4 uk-width-1-3@s">

					<div class="share-price-switcher">

						<ul uk-switcher="connect: .switcher-container; animation: uk-animation-fade;">

							{# ESM #}

							{% if sharePrices.esm|length %}

								<li><a href="#">Euronext Dublin</a></li>

							{% endif %}

						    {# AIM #}

						    {% if sharePrices.aim|length %}

						    	<li><a href="#">AIM</a></li>

						    {% endif %}

						</ul>

					</div>

				</div>

				<div class="uk-width-1-2 uk-width-1-3@s">

					<div class="share-price-cost">

						<ul class="uk-switcher switcher-container uk-margin">

							{# ESM #}

							{% if sharePrices.esm|length %}

								{% set esm = sharePrices.esm.one() %}

							    <li>

									<div class="cost-block">

										{# Price #}

										{% if esm.price|length %}

											<p class="price">{{ esm.price }}</p>

										{% endif %}

										{# Label #}

										{% if esm.label|length %}

											<p class="desc">{{ esm.label }}</p>

										{% endif %}

									</div>

							    </li>

							{% endif %}

							{# AIM #}

					    	{% if sharePrices.aim|length %}

					    		{% set aim = sharePrices.aim.one() %}

							    <li>

							    	<div class="cost-block">

										{# Price #}

										{% if aim.price|length %}

											<p class="price">{{ aim.price }}</p>

										{% endif %}

										{# Label #}

										{% if aim.label|length %}

											<p class="desc">{{ aim.label }}</p>

										{% endif %}

									</div>

							    </li>

							{% endif %}

						</ul>

					</div>

				</div>

				<div class="uk-width-1-4 uk-width-1-3@s">

					<div class="share-price-updates">

						<ul class="uk-switcher switcher-container uk-margin">

							{# ESM #}

							{% if sharePrices.esm|length %}

								{% set esm = sharePrices.esm.one() %}

							    <li>

							    	<div class="updates-block">

							    		{# Percent #}

							    		{% if esm.percent|length %}

							    			<p class="update-percent {{ esm.upDownPercent }}">{{ esm.percent }}</p>

							    		{% endif %}

							    		{# Point #}

							    		{% if esm.point|length %}

								    		<p class="update-price {{ esm.upDownPoint }}">{{ esm.point }}</p>

								    	{% endif %}

							    	</div>	

							    </li>

							{% endif %}

							{# AIM #}

					    	{% if sharePrices.aim|length %}

					    		{% set aim = sharePrices.aim.one() %}

							    <li>

							    	<div class="updates-block">

							    		{# Percent #}

							    		{% if aim.percent|length %}

							    			<p class="update-percent {{ aim.upDownPercent }}">{{ aim.percent }}</p>

							    		{% endif %}

							    		{# Point #}

							    		{% if aim.point|length %}

								    		<p class="update-price {{ aim.upDownPoint }}">{{ aim.point }}</p>

								    	{% endif %}

							    	</div>	

							    </li>

							{% endif %}

						</ul>

					</div>

				</div>

			</div>

		</div>

		{# Button #}

		{% if sharePrices.defaultLink|length %}

			{% set attributes = {
				class: 'uk-button goto'
            } %}

            {{ sharePrices.defaultLink.link(attributes) }}

		{% endif %}

	</div>

</section>