{# Block: Corporate News List #}

{% set newsQuery = craft.entries()
    .section('corporateNews')
    .limit(10)
%}

{% paginate newsQuery as pageInfo, newsEntries %}

{% if block.showCorporateNewsList == 1 %}

	<div class="uk-padding-small"></div>

	<section class="section--corporate-news-list">
	
		<div class="uk-container">

			{% if newsEntries|length %}

				{% for article in newsEntries %}

					<div class="grid--news-article" uk-grid>

						{# Image #}

						{% if article.img|length %}

							<div class="uk-width-1-1 uk-width-1-3@m grid--img">
							
								<div class="block--img">
								
									{% set asset = article.img.one() %}

									{% set transformedImages = craft.imager.transformImage(asset, [
										{ width: 1200, jpegQuality: 100 }, 
										{ width: 960, jpegQuality: 100 },
										{ width: 768, jpegQuality: 70 }, 
										{ width: 640, jpegQuality: 65 }, 
										{ width: 480, jpegQuality: 65 }
									], { position: 'center-center', jpegQuality: 100 }) %}

									<div class="uk-cover-container">
									
										<img src="{{ craft.imager.placeholder({ width: 160, height: 90 }) }}" sizes="100vw" srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ asset.title }}" uk-cover>
									
									</div>
								
								</div>
							
							</div>

						{% endif %}

						{# Copy #}

						<div class="uk-width-1-1 uk-width-2-3@m grid--copy uk-flex uk-flex-middle">
						
							<div class="block--copy">
							
								<h2>{{ article.title }}</h2>

								<p class="date">{{ article.postDate|date('jS M Y') }}</p>

								{% if article.copy|length %}

									<p>{{ article.copy|chop(limit=60, unit='w') }}</p>

								{% endif %}

								<p class="button"><a href="{{ article.getUrl() }}" class="uk-button uk-text-uppercase">Read More</a></p>
							
							</div>
						
						</div>
					
					</div>

				{% endfor %}

			{% else %}
				
				{# No results #}

				<div class="grid--news-article" uk-grid>

					<div class="uk-width-1-1 uk-width-2-3@s uk-width-3-4@m">
						
							<div class="block--copy">
							
								<h2>There is currently no corporate news.</h2>
							
							</div>
						
						</div>

					</div>

				</div>

			{% endif %}
		
		</div>
	
	</section>

	<div class="uk-padding"></div>

	{# Pagination #}

	{% if pageInfo.totalPages > 1 %}

		<ul class="uk-pagination uk-flex uk-flex-center" uk-margin>
		
			{% if pageInfo.prevUrl %}

				<li><a href="{{ pageInfo.prevUrl }}"><span uk-pagination-previous></span></a></li>

			{% endif %}

			{% for page, url in pageInfo.getPrevUrls(5) %}

			    <li><a href="{{ url }}">{{ page }}</a></li>

			{% endfor %}

			<li><span class="uk-active"><strong>{{ pageInfo.currentPage }}</strong></span></li>

			{% for page, url in pageInfo.getNextUrls(5) %}

				<li><a href="{{ url }}">{{ page }}</a></li>

			{% endfor %}

			{% if pageInfo.nextUrl %}

				<li><a href="{{ pageInfo.nextUrl }}"><span uk-pagination-next></span></a></li>

			{% endif %}
		
		</div>

		<div class="uk-padding"></div>

	{% endif %}

{% endif %}