{# Block: Call to Action Columns with Icons #}

{% if block.ctas|length %}

	{% set ctas = block.ctas.all() %}

	{% set colWidth = "uk-child-width-1-2@m" %}
	{% set containerWidth = "two-col" %}

	{% if block.ctas|length == 3 %}

		{% set colWidth = "uk-child-width-1-3@m" %}
		{% set containerWidth = "three-col" %}

	{% elseif block.ctas|length > 3 %}
		
		{% set colWidth = "uk-child-width-1-4@m" %}
		{% set containerWidth = "four-col" %}

	{% endif %}

	{# Heading #}

	{% if block.heading|length %}

		<section class="section--heading">
		
			<div class="uk-container">

				<div class="block--heading uk-text-center">
				
					<h2>{{ block.heading }}</h2>
				
				</div>

			</div>
		
		</section>

	{% endif %}

	<section class="about-more-section">

		<div class="uk-container">

			<div class="about-more-block {{ containerWidth }}">

				<div uk-grid class="{{ colWidth }} uk-grid-medium" uk-height-match=" .about-more-el > .image-block">

					{% for cta in ctas %}

						<div>

							<div class="about-more-el">

								{% if cta.button|length and cta.noButton == 1 %}

									<a href="{{ cta.button.url }}">

								{% endif %}

								{# Icon #}

								{% if cta.icon|length %}

									{% set asset = cta.icon.one() %}

									<div class="image-block">

										<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}">

									</div>

								{% endif %}

								{# Copy #}

								<div class="text-block">

									{% if cta.heading|length %}

										<h2>{{ cta.heading }}</h2>

									{% endif %}

									{{ cta.copy }}

								</div>

								{% if cta.button|length and cta.noButton == 1 %}

									</a>

								{% endif %}

								{# Button #}

								{% if cta.button|length and cta.noButton == 0 %}

									{% set attributes = {
										class: 'uk-button '
				                    } %}

				                    {{ cta.button.link(attributes) }}

								{% endif %}

							</div>

						</div>
						
					{% endfor %}

				</div>

			</div>

		</div>

	</section>

{% endif %}