{# Block: Call to Action Columns #}

{% if block.ctas|length %}

	{% set ctas = block.ctas.all() %}

	<section class="for-clients-section {{ block.padding }} bg--{{ block.backgroundStyle }}">

		<div class="uk-container">

			<div uk-grid class="uk-child-width-1-3@m" uk-height-match=" .for-clients-block > .text-block">

				{% for cta in ctas %}

					<div>

						<div class="for-clients-block">

							{# Copy #}

							<div class="text-block">

								{% if cta.heading|length %}

									<h2>{{ cta.heading }}</h2>

								{% endif %}

								{{ cta.copy }}

							</div>

							{# Button #}

							{% if cta.button|length %}

								{% set attributes = {
									class: 'uk-button '
			                    } %}

			                    {{ cta.button.link(attributes) }}

							{% endif %}

						</div>

					</div>
					
				{% endfor %}

			</div>

		</div>

	</section>

{% endif %}