{# Block: FAQs #}

{% if block.faqs|length %}

	{% set faqs = block.faqs.all() %}

	<section class="faqs-section">

		<div class="uk-container">

			<div class="faqs-container">

				<ul uk-accordion="multiple: true">

					{% for faq in faqs %}

						<li class="faq-block">

							{# Heading #}

							{% if faq.heading|length %}

								<h3>{{ faq.heading }}</h3>

							{% endif %}

				    		{# Copy #}

				    		{% if faq.copy|length %}

				    			<div class="uk-accordion-content">

					    		    {{ faq.copy }}

					    		</div>

				    		{% endif %}	

				    		<a class="uk-accordion-title" href="#">Show</a>

					    </li>
						
					{% endfor %}

				</ul>

			</div>

		</div>

	</section>

{% endif %}