{# Block: Figures #}

<section class="key-figures-section{% if block.overlapBlockAbove == 1 %} overlap{% endif %}">

	<div class="uk-container">

		<div class="key-figures-block">

			{# Heading #}

			{% if block.heading|length %}

				<div class="title">

					<h2>{{ block.heading }}</h2>

				</div>

			{% endif %}

			{# Columns #}

			{% if block.cols|length %}

				{% set cols = block.cols.all() %}

				<div uk-grid class="uk-child-width-1-3@m">

					{% for col in cols %}

						<div>

							<div class="key-figures-el">

								{% if col.figure|length %}

									<h3>{{ col.figure }}</h3>

								{% endif %}

								{% if col.label|length %}

									<p>{{ col.label }} </p>

								{% endif %}

							</div>

						</div>
						
					{% endfor %}

				</div>

			{% endif %}

		</div>

		{% if block.button|length %}

			{% set attributes = {
				class: 'uk-button uk-text-uppercase'
            } %}

            {{ block.button.link(attributes) }}

		{% endif %}

	</div>

</section>