{# Block: Grid Content #}

{% if block.blocks|length %}

	{% set cols = block.blocks.all() %}

	<section class="section--grid-blocks">
	
		<div class="uk-container">
		
			<div class="grid--grid-blocks" uk-grid>
			
				{% for col in cols %}
					
					<div class="uk-width-1-1 uk-width-1-2@s grid-block{% if loop.first %} grid-first{% endif %}{% if loop.last %} grid-last{% endif %}{% if cols|length < 3 %} one-row-only{% endif %}">
					
						<div class="block--col">
						
							<div class="grid--col" uk-grid>

								{# Icon #}
							
								{% if col.icon|length %}

									{% set asset = col.icon.one() %}

									<div class="uk-width-1-1 uk-width-1-4@m">
									
										<div class="block--img">
										
											<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}">
										
										</div>
									
									</div>

								{% endif %}

								{# Copy #}

								{% if col.copy|length %}

									<div class="uk-width-1-1 uk-width-3-4@m">
									
										<div class="block--copy">
										
											{{ col.copy }}
										
										</div>
									
									</div>

								{% endif %}
							
							</div>
						
						</div>
					
					</div>

				{% endfor %}
			
			</div>
		
		</div>
	
	</section>

{% endif %}