{# Block: iFrame #}

{% if block.globalIframe|length %}

	{% set iframe = "" %}

	{% if block.globalIframe == "financial-calendar-iframe-section" %}

		{% set iframe = financialCalendar.iframe  %}

	{% elseif block.globalIframe == "historic-lookup-download-section" %}
		
		{% set iframe = historicLookupDownload.iframe  %}

	{% elseif block.globalIframe == "historic-lookup-download-section iframe-share-price-table" %}
		
		{% set iframe = sharePriceTable.iframe  %}

	{% elseif block.globalIframe == "dividend-calculator-section dividend-calculator-section-lse" %}
		
		{% set iframe = dividendCalculatorLse.iframe  %}

	{% elseif block.globalIframe == "dividend-calculator-section dividend-calculator-section-ise" %}
		
		{% set iframe = dividendCalculatorIse.iframe  %}

	{% elseif block.globalIframe == "shareprice-section" %}
		
		{% set iframe = sharePriceInformationBanner.iframe  %}

	{% elseif block.globalIframe == "shareprice-calculator-section" %}
		
		{% set iframe = sharePriceInformation.iframe  %}

	{% elseif block.globalIframe == "regulatory-announcements-section" %}
		
		{% set iframe = regulatoryAnnouncements.iframe  %}

	{% endif %}

	<section class="{{ block.globalIframe }}">

		<div class="uk-container">

			{{ iframe|raw }}

		</div>

	</section>

{% endif %}