{# Block: Image & Copy #}

{% if block.style == "consus" or block.style == "greenFullWidth" %}

	<section class="section--consus {{ block.style }}">
				
		<div class="uk-container">

			<div class="grid--innovation--consus uk-grid-collapse uk-grid-match" uk-grid>

				{# Image #}

				{% if block.img|length %}
			
					<div class="uk-width-1-1 uk-width-1-2@m{% if block.layoutPosition == "center" or block.layoutPosition == "right"  %} uk-flex-last@m{% endif %}">
					
						<div class="block--innovation--consus--img">
						
							<div class="inner--innovation--consus--img uk-text-center{% if block.removeImageCroppin is defined and block.removeImageCropping != 1 %} uk-cover-container{% else %} img--no-cover{% endif %}"{% if block.removeImageCroppin is defined and block.removeImageCropping == 1 %} style="height: auto;"{% endif %}>
						
								{% set asset = block.img.one() %}

								{% set transformedImages = craft.imager.transformImage(asset, [
									{ width: 1200, jpegQuality: 100 }, 
									{ width: 960, jpegQuality: 100 },
									{ width: 768, jpegQuality: 70 }, 
									{ width: 640, jpegQuality: 65 }, 
									{ width: 480, jpegQuality: 65 }
								], { position: 'center-center', jpegQuality: 100 }) %}

							    <img src="{{ craft.imager.placeholder({ width: 160, height: 90 }) }}" sizes="100vw" srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ asset.title }}"{% if block.removeImageCroppin is defined and block.removeImageCropping != 1 %} uk-cover{% else %} style="max-width: {{ asset.width / 2 }}px;"{% endif %}>
						
							</div>
						
						</div>
					
					</div>

				{% endif %}

				{# Copy #}

				{% if block.copy|length %}

					<div class="uk-width-1-1 uk-width-1-2@m">
					
						<div class="block--innovation--consus--copy uk-flex uk-flex-middle">
						
							<div class="inner--innovation--consus--copy">
						
								{{ block.copy }}
						
							</div>
						
						</div>
					
					</div>

				{% endif %}
				
			</div>

		</div>

	</section>

{% else %}
	
	<section class="infoblock-section {{ block.imageSize }}{% if block.smallImg|length %} two-images{% endif %}{% if block.imageSize == "about small short" and block.layoutPosition == "right" %} mirrored{% endif %}">

		<div class="uk-container">

			<div class="infoblock-el">

				<div uk-grid class="uk-child-width-1-2@m uk-grid-collapse uk-flex-middle">

					{# Image #}

					{% if block.img|length %}

						<div{% if block.layoutPosition == "center" or block.layoutPosition == "right"  %} class="uk-flex-last@m"{% endif %}>

							<div class="">

								{% if block.smallImg|length %}

									<div class="two-small-images">

								{% endif %}

										<div uk-grid class="uk-grid-collapse">

											<div class="{% if block.smallImg|length %}uk-width-2-3@m{% else %}uk-width-1-1{% endif %}">
												
												<div class="image-block uk-text-center {% if block.layoutPosition is defined and block.layoutPosition == "right" %} uk-margin-remove-left{% endif %} {{ block.imageShadow }}"{% if block.removeImageCroppin is defined and block.removeImageCropping == 1 %} style="height: auto;"{% endif %}>

													<div{% if block.removeImageCroppin is defined and block.removeImageCropping != 1 %} class="uk-cover-container"{% endif %}>

														{% set asset = block.img.one() %}

														{% set transformedImages = craft.imager.transformImage(asset, [
															{ width: 1200, jpegQuality: 100 }, 
															{ width: 960, jpegQuality: 100 },
															{ width: 768, jpegQuality: 70 }, 
															{ width: 640, jpegQuality: 65 }, 
															{ width: 480, jpegQuality: 65 }
														], { position: 'center-center', jpegQuality: 100 }) %}

													    <img src="{{ craft.imager.placeholder({ width: 160, height: 90 }) }}" sizes="100vw" srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ asset.title }}"{% if block.removeImageCroppin is defined and block.removeImageCropping != 1 %} uk-cover{% else %} style="max-width: {{ asset.width / 2 }}px;"{% endif %}>

													</div>

												</div>

											</div>

											{% if block.smallImg|length %}

												<div class="uk-width-1-3@m">

													<div class="image-block small">

														<div class="uk-cover-container">

															{% set asset = block.smallImg.one() %}

															{% set transformedImages = craft.imager.transformImage(asset, [
																{ width: 1200, jpegQuality: 100 }, 
																{ width: 960, jpegQuality: 100 },
																{ width: 768, jpegQuality: 70 }, 
																{ width: 640, jpegQuality: 65 }, 
																{ width: 480, jpegQuality: 65 }
															], { position: 'center-center', jpegQuality: 100 }) %}

														    <img src="{{ craft.imager.placeholder({ width: 160, height: 90 }) }}" sizes="100vw" srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ asset.title }}" uk-cover>

														</div>

													</div>

												</div>

											{% endif %}

										</div>

								{% if block.smallImg|length %}

									</div>

								{% endif %}

							</div>

						</div>

					{% endif %}

					{# Copy #}

					{% if block.copy|length %}

						<div>

							<div class="text-block">

								{{ block.copy }}

								{# Button #}

								{% if block.button|length %}

									{% set attributes = {
										class: 'uk-button uk-text-uppercase'
						            } %}

						            {{ block.button.link(attributes) }}

								{% endif %}

							</div>

						</div>

					{% endif %}

				</div>

			</div>

		</div>

	</section>

{% endif %}