{# Block: Leadership Team #}

{% if block.groups|length %}

	{% set groups = block.groups.all() %}

	<section class="our-team-section">

		<div class="uk-container">

			<div class="our-team-switcher" uk-switcher="animation: uk-animation-fade; toggle: > *">

				{% set groupContent = "" %}

				{% for group in groups %}

					{% set groupLoop = loop.index %}

					<button class="uk-button uk-button-default" type="button">{{ group.groupHeading }}</button>

					{% set groupContent %}

						{{ groupContent }}

						{% if group.people|length %}

							{% set people = group.people.all() %}

							<li>

						    	<div uk-grid class="uk-grid-large uk-child-width-1-2@s uk-child-width-1-3@m" uk-height-match=" > div">

						    		{% for person in people %}

						    			<div>

							    			<div class="switcher-card" {# uk-toggle="target: > div > .front-card; cls: clicked" #} id="switcher-card--{{ groupLoop}}--{{ person.slug }}">

							    				<div class="our-team-el">

							    					{# Image #}

							    					{% if person.img|length %}

							    						{% set asset = person.img.one() %}

							    						<div class="image-block">

								    						<div class="uk-cover-container">

								    							<img src="{{ asset.getUrl() }}" alt="{{ person.title }}">

								    						</div>

								    					</div>

							    					{% endif %}

							    					{# Title / Position #}

							    					<div class="info">

							    						<h3>{{ person.title }}</h3>

							    						{% if person.position|length %}

							    							<p>{{ person.position }}</p>

							    						{% endif %}

							    					</div>

							    					{# Copy #}

							    					{% if person.copy|length %}

							    						<div class="desc">

								    						{{ person.copy }}

								    					</div>

								    					<a href="#" uk-toggle="target: #switcher-card--{{ groupLoop}}--{{ person.slug }}; cls: clicked;" class="bt--show-more">

								    						<span class="more">Show more</span>

								    						<span class="less">Show less</span>

								    					</a>

								    					{# <button class="show-more-btn">Show more</button> #}

							    					{% endif %}

							    				</div>

							    			</div>

							    		</div>
						    			
						    		{% endfor %}

						    	</div>

						    </li>

						{% endif %}

					{% endset %}
					
				{% endfor %}

			</div>

			<ul class="uk-switcher uk-margin">

			    {{ groupContent }}

			</ul>

		</div>

	</section>

{% endif %}