{# Block: List & Image #}

<section class="section--investment-case">
			
	<div class="uk-container">
	
		<div class="grid--investment-case uk-grid-collapse uk-flex" uk-grid>

			{# List #}

			{% if block.copy|length %}

				<div class="uk-width-1-1 uk-width-1-2@m block--investment-case--list{% if block.layoutPosition == "left" %} uk-flex-last@m{% endif %} uk-flex uk-flex-middle">
				
					<div class="inner--investment-case--list">

						{{ block.copy }}

						{# <ul class="uk-list"> #}
					
					</div>
				
				</div>

			{% endif %}
		
			{# Image #}

			{% if block.img|length %}

				<div class="uk-width-1-1 uk-width-1-2@m block--investment-case--img uk-flex uk-flex-middle">
				
					<div class="inner--investment-case--img">

						{% set asset = block.img.one() %}

						{% set transformedImages = craft.imager.transformImage(asset, [
							{ width: 1200, jpegQuality: 100 }, 
							{ width: 960, jpegQuality: 100 },
							{ width: 768, jpegQuality: 70 }, 
							{ width: 640, jpegQuality: 65 }, 
							{ width: 480, jpegQuality: 65 }
						], { position: 'center-center', jpegQuality: 100 }) %}

					    <img src="{{ craft.imager.placeholder({ width: 160, height: 90 }) }}" sizes="100vw" srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ asset.title }}">
					
					</div>
				
				</div>

			{% endif %}
		
		</div>
	
	</div>

</section>