{# Block: Our Businesses Map #}

{# Intro #}

{% if block.intro|length %}

	<section class="map-section">

		<div class="uk-container">

			<div class="title">

				{{ block.intro }}

			</div>

		</div>

	</section>

{% endif %}

{# Map #}

{% if block.showMap == 1 and ourBusinessesMap.businessesMap|length %}

	{% set regions = ourBusinessesMap.businessesMap.all() %}

	{% set modals = "" %}

	<section class="map-section map-section-new">

		{# Region Headings #}

		<div class="block--map-nav">
	
			<div class="uk-container uk-flex uk-flex-center">

				<ul class="nav--map-regions uk-child-width-1-1 uk-child-width-1-3@s" uk-switcher="connect: .switcher--locations; animation: uk-animation-fade;" uk-grid>

					{% for region in regions %}

						<li><a href="#">{{ region.regionHeading }}<span></span></a></li>
						
					{% endfor %}

				</ul>

			</div>

		</div>

		<div class="uk-container">

			<div class="block--map-locations">

				{# Regions #}

				<ul class="uk-switcher uk-margin switcher--locations">

					{% for region in regions %}

						{% if region.businessCategories|length %}

							{% set categories = region.businessCategories.all() %}

							<li>
						    	
						    	<div class="grid--location" uk-grid>

						    		{# Categories #}

						    		{% for category in categories %}

						    			<div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-width-1-5@l block--location">
							    		
							    			<div class="inner--location">

							    				{# Heading #}

							    				{% if category.heading|length %}

							    					<h3>{{ category.heading }}</h3>

							    				{% endif %}

							    				{# Businesses #}
							    			
							    				{% if category.businesses|length %}

							    					{% set businesses = category.businesses.all() %}

						    						<ul>

						    							{% for business in businesses %}

						    								<li class="{{ business.elementId }} modal--links" uk-toggle="target: .{{ business.elementId }}; cls: uk-active;" data-modal-id="{{ business.elementId }}"><a href="#" uk-toggle="target: #{{ business.elementId }}; cls: uk-open;">{{ business.title }}</a></li>

						    								{% set modals %}

						    									{{ modals }}

						    									<div id="{{ business.elementId }}" class="modal--location">

																	<div class="uk-modal-dialog uk-modal-body">

																		{# Logo #}

																		{% if business.logo|length %}

																			{% set asset = business.logo.one() %}
																			
																			<img src="{{ asset.getUrl() }}" alt="{{ business.title }} logo">

																		{% endif %}

																		{# Close #}

																		<a href="#" class="uk-modal-close-default uk-close" uk-icon="close" uk-toggle="target: #{{ business.elementId }}; cls: uk-open;"></a>

																		{# Location #}

																		{% if business.location|length %}

																			<h2 class="uk-modal-title">{{ business.location }}</h2>

																		{% endif %}

																		{# Copy #}

																		{{ business.copy }}

																		{# Website Link Button #}

																		{% if business.website|length %}

																			<a href="{{ business.website }}" class="uk-button" target="_blank">Visit Website</a>

																		{% endif %}

																		{# Modal Arrow #}

																		<span class="arrow arrow--{{ business.arrowDirection }}"></span>

																	</div>

																</div>

						    								{% endset %}
						    								
						    							{% endfor %}
							    				
							    					</ul>

							    				{% endif %}
							    			
							    			</div>
							    		
							    		</div>
						    			
						    		{% endfor %}
						   
						    	</div>

						    </li>

						{% endif %}
						
					{% endfor %}

					<!-- UK & Ireland -->

				    <li>
				    	
				    	<div class="grid--location" uk-grid>
				    	
				    		<div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-width-1-5@l block--location">
				    		
				    			<div class="inner--location">
				    			
				    				<h3>On Farm Services</h3>

				    				<ul>
				    				
				    					<li class="modal--uk-01 modal--links" uk-toggle="target: .modal--uk-01; cls: uk-active;" data-modal-id="modal--uk-01"><a href="#" uk-toggle="target: #modal--uk-01; cls: uk-open;">Agrii</a></li>
				    				
				    				</ul>
				    			
				    			</div>
				    		
				    		</div>
				    	
				    		<div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-width-1-5@l block--location">
				    		
				    			<div class="inner--location">
				    			
				    				<h3>Nutrition</h3>

				    				<ul>
				    				
				    					<li class="modal--uk-02 modal--links" uk-toggle="target: .modal--uk-02; cls: uk-active;" data-modal-id="modal--uk-02"><a href="#" uk-toggle="target: #modal--uk-02; cls: uk-open;">Goulding (Ireland)</a></li>

				    					<li class="modal--uk-03 modal--links" uk-toggle="target: .modal--uk-03; cls: uk-active;" data-modal-id="modal--uk-03"><a href="#" uk-toggle="target: #modal--uk-03; cls: uk-open;">Origin Fertiliser</a></li>

				    					<li class="modal--uk-04 modal--links" uk-toggle="target: .modal--uk-04; cls: uk-active;" data-modal-id="modal--uk-04"><a href="#" uk-toggle="target: #modal--uk-04; cls: uk-open;">Humber Palmers</a></li>

				    					<li class="modal--uk-05 modal--links" uk-toggle="target: .modal--uk-05; cls: uk-active;" data-modal-id="modal--uk-05"><a href="#" uk-toggle="target: #modal--uk-05; cls: uk-open;">Origin Northern Ireland</a></li>
				    				
				    				</ul>
				    			
				    			</div>
				    		
				    		</div>
				    	
				    		<div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-width-1-5@l block--location">
				    		
				    			<div class="inner--location">
				    			
				    				<h3>Amenity</h3>

				    				<ul>
				    				
				    					<li class="modal--uk-06 modal--links" uk-toggle="target: .modal--uk-06; cls: uk-active;" data-modal-id="modal--uk-06"><a href="#" uk-toggle="target: #modal--uk-06; cls: uk-open;">Rigby Taylor</a></li>

				    					<li class="modal--uk-07 modal--links" uk-toggle="target: .modal--uk-07; cls: uk-active;" data-modal-id="modal--uk-07"><a href="#" uk-toggle="target: #modal--uk-07; cls: uk-open;">Headland</a></li>

				    					<li class="modal--uk-08 modal--links" uk-toggle="target: .modal--uk-08; cls: uk-active;" data-modal-id="modal--uk-08"><a href="#" uk-toggle="target: #modal--uk-08; cls: uk-open;">PB Kent</a></li>

				    					<li class="modal--uk-09 modal--links" uk-toggle="target: .modal--uk-09; cls: uk-active;" data-modal-id="modal--uk-09"><a href="#" uk-toggle="target: #modal--uk-09; cls: uk-open;">LineMark</a></li>

				    					<li class="modal--uk-10 modal--links" uk-toggle="target: .modal--uk-10; cls: uk-active;" data-modal-id="modal--uk-10"><a href="#" uk-toggle="target: #modal--uk-10; cls: uk-open;">Symbio</a></li>
				    				
				    				</ul>
				    			
				    			</div>
				    		
				    		</div>
				    	
				    		<div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-width-1-5@l block--location">
				    		
				    			<div class="inner--location">
				    			
				    				<h3>Digital</h3>

				    				<ul>
				    				
				    					<li class="modal--uk-11 modal--links" uk-toggle="target: .modal--uk-11; cls: uk-active;" data-modal-id="modal--uk-11"><a href="#" uk-toggle="target: #modal--uk-11; cls: uk-open;">Ag Space</a></li>

				    					<li class="modal--uk-12 modal--links" uk-toggle="target: .modal--uk-12; cls: uk-active;" data-modal-id="modal--uk-12"><a href="#" uk-toggle="target: #modal--uk-12; cls: uk-open;">Rhiza</a></li>

				    					<li class="modal--uk-13 modal--links" uk-toggle="target: .modal--uk-13; cls: uk-active;" data-modal-id="modal--uk-13"><a href="#" uk-toggle="target: #modal--uk-13; cls: uk-open;">Turfkeeper Digital</a></li>
				    				
				    				</ul>
				    			
				    			</div>
				    		
				    		</div>
				    	
				    		<div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-width-1-5@l block--location">
				    		
				    			<div class="inner--location">
				    			
				    				<h3>Animal Feeds</h3>

				    				<ul>
				    				
				    					<li class="modal--uk-14 modal--links" uk-toggle="target: .modal--uk-14; cls: uk-active;" data-modal-id="modal--uk-14"><a href="#" uk-toggle="target: #modal--uk-14; cls: uk-open;">R&H Hall (Ireland)</a></li>
				    				
				    				</ul>
				    			
				    			</div>
				    		
				    		</div>
				    	
				    	</div>

				    </li>

				    <!-- Continental Europe -->

				    <li>
				    	
				    	<div class="grid--location" uk-grid>
				    	
				    		<div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-width-1-5@l block--location">
				    		
				    			<div class="inner--location">

				    				<h3>On Farm Services</h3>

				    				<ul>
				    				
				    					<li class="modal--europe-01 modal--links" uk-toggle="target: .modal--europe-01; cls: uk-active;" data-modal-id="modal--europe-01"><a href="#" uk-toggle="target: #modal--europe-01; cls: uk-open;">Agrii (Polska)</a></li>

				    					<li class="modal--europe-02 modal--links" uk-toggle="target: .modal--europe-02; cls: uk-active;" data-modal-id="modal--europe-02"><a href="#" uk-toggle="target: #modal--europe-02; cls: uk-open;">Agrii (Romania)</a></li>

				    					<li class="modal--europe-03 modal--links" uk-toggle="target: .modal--europe-03; cls: uk-active;" data-modal-id="modal--europe-03"><a href="#" uk-toggle="target: #modal--europe-03; cls: uk-open;">Agrii (Ukriane)</a></li>
				    				
				    				</ul>
				    			
				    			</div>
				    		
				    		</div>

				    		<div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-width-1-5@l block--location">
				    		
				    			<div class="inner--location">
				    			
				    				<h3>Nutrition</h3>

				    				<ul>
				    				
				    					<li class="modal--europe-04 modal--links" uk-toggle="target: .modal--europe-04; cls: uk-active;" data-modal-id="modal--europe-04"><a href="#" uk-toggle="target: #modal--europe-04; cls: uk-open;">Pillaert Meststoffen (Belgium)</a></li>
				    				
				    				</ul>
				    			
				    			</div>
				    		
				    		</div>

				    		<div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-width-1-5@l block--location">
				    		
				    			<div class="inner--location">
				    			
				    				<h3>Digital</h3>

				    				<ul>
				    				
				    					<li class="modal--europe-05 modal--links" uk-toggle="target: .modal--europe-05; cls: uk-active;" data-modal-id="modal--europe-05"><a href="#" uk-toggle="target: #modal--europe-05; cls: uk-open;">Rhiza (Poland)</a></li>

				    					<li class="modal--europe-06 modal--links" uk-toggle="target: .modal--europe-06; cls: uk-active;" data-modal-id="modal--europe-06"><a href="#" uk-toggle="target: #modal--europe-06; cls: uk-open;">Rhiza (Romania)</a></li>

				    					<li class="modal--europe-07 modal--links" uk-toggle="target: .modal--europe-07; cls: uk-active;" data-modal-id="modal--europe-07"><a href="#" uk-toggle="target: #modal--europe-07; cls: uk-open;">Rhiza (Ukraine)</a></li>
				    				
				    				</ul>
				    			
				    			</div>
				    		
				    		</div>
				    	
				    	</div>

				    </li>

				    <!-- Latin America -->

				    <li>
				    	
				    	<div class="grid--location" uk-grid>
				    	
				    		<div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-width-1-5@l block--location">
				    		
				    			<div class="inner--location">
				    			
				    				<h3>On Farm Services</h3>

				    				<ul>
				    				
				    					<li class="modal--latin-01 modal--links" uk-toggle="target: .modal--latin-01; cls: uk-active;" data-modal-id="modal--latin-01"><a href="#" uk-toggle="target: #modal--latin-01; cls: uk-open;">Ferrari Zagatto (Paraná, Brazil)</a></li>
				    				
				    				</ul>
				    			
				    			</div>

				    		</div>

				    		<div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-width-1-5@l block--location">

				    			<div class="inner--location">
				    			
				    				<h3>Speciality Inputs</h3>

				    				<ul>
				    				
				    					<li class="modal--latin-02 modal--links" uk-toggle="target: .modal--latin-02; cls: uk-active;" data-modal-id="modal--latin-02"><a href="#" uk-toggle="target: #modal--latin-02; cls: uk-open;">Fortgreen (Brazil)</a></li>
				    				
				    				</ul>
				    			
				    			</div>
				    		
				    		</div>
				    	
				    	</div>

				    </li>

				</ul>
			
			</div>

			<div class="map-wrapper">

				<div class="map uk-visible@m">
				
					<img src="{{ url('assets/img/world_map.svg') }}" alt="Map">
				
				</div>

				{# Office Location Modals #}
				
				{{ modals }}

			</div>

		</div>
	
	</section>

{% endif %}