{# Block: Plain Text #}

{% if block.copy|length %}

	<section class="simple-text-section">

		<div class="uk-container">

			<div class="text-block{% if block.position == "center" %} uk-margin-auto{% endif %}">

				{{ block.copy }}

			</div>

		</div>

	</section>

{% endif %}