{# Block: Stay Informed #}

{% if block.showBlock == 1 %}

	<section class="signup-section">

		<div class="uk-container">

			<div class="text-block">

				{# Heading #}

				{% if stayInformed.heading|length %}

					<h2>{{ stayInformed.heading }}</h2>

				{% endif %}

				{# Copy #}

				{{ stayInformed.copy }}

				{# Button #}

				{% if stayInformed.form|length %}

					{% set label = "Sign Up" %}

					{% if stayInformed.label|length %}

						{% set label = stayInformed.label %}

					{% endif %}

					<a class="uk-button uk-text-uppercase" uk-toggle="target: #modal--stay-informed" href="#">{{ label }}</a>

			{% endif %}

			</div>

		</div>

	</section>
	
	{# Form #}

	{% if stayInformed.form|length %}

		<div id="modal--stay-informed" uk-modal>

		    <div class="uk-modal-dialog uk-modal-body">

		    	<button class="uk-modal-close-default" type="button" uk-close></button>

		        <div class="contact-section">

		        	<div class="left-side">

		        		{# Form Copy #}

		        		{% if stayInformed.formCopy|length %}

		        			<div class="text-block">

			        			{{ stayInformed.formCopy }}

			        		</div>

		        		{% endif %}

			        	{# Form #}

		        		<div class="contact-form">

		        			<div class="form-container">

		        				{{ craft.freeform.form(stayInformed.form.handle).render() }}

		        			</div>

		        		</div>

		        	</div>

		        </div>

		    </div>

		</div>

	{% endif %}

{% endif %}