{# Block: Stats #}

{% if block.stats|length %}

	{% set stats = block.stats.all() %}

	<section class="about-more-section full section--investor-stats">

		<div class="uk-container">

			<div class="about-more-block">

				<div uk-grid class="uk-child-width-1-2@s uk-child-width-1-4@m uk-grid-medium" uk-height-match=" .about-more-el > .image-block, .about-more-el > .text-block">

					{% for stat in stats %}

						<div>

							<div class="about-more-el">

								{# Icon #}

								{% if stat.icon|length %}

									{% set asset = stat.icon.one() %}

									<div class="image-block">
									
										<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}">
									
									</div>

								{% endif %}

								<div class="text-block">

									{# Label #}

									{% if stat.label|length %}

										<p>{{ stat.label }}</p>

									{% endif %}

									{# Stat #}

									{% if stat.stat|length %}

										<h2>{{ stat.stat }}</h2>

									{% endif %}

								</div>

							</div>

						</div>
						
					{% endfor %}

				</div>

			</div>

		</div>

	</section>

{% endif %}