{# Block: Table #}

<section class="row-table-section">

	<div class="uk-container">

		{# Heading #}

		{% if block.heading|length %}

			<div class="title">

				<h2>{{ block.heading }}</h2>

			</div>

		{% endif %}

		{# Table #}

		{% if block.tableRows|length %}

			{% set rows = block.tableRows.all() %}

			<div class="table-block">

				<table class="uk-table uk-table-responsive">

					{% if block.tableHeadings|length %}

						{% set headings = block.tableHeadings.one().headings.all() %}

						<thead>

				        	<tr>

				        		{% for heading in headings %}

				        			<th class="uk-text-{{ heading.position }}"><p>{{ heading.heading }}</p></th>
				        			
				        		{% endfor %}

				        	</tr>

				        </thead>

					{% endif %}

				    <tbody>

				    	{% for row in rows %}

				    		{% set cols = row.columns.all() %}

				    		<tr>

				    			{% for col in cols %}

				    				<td class="uk-text-{{ col.position }}">{{ col.copy }}</td>
				    				
				    			{% endfor %}

					        </tr>
				    		
				    	{% endfor %}

				    </tbody>

				</table>

			</div>

		{% endif %}

		{# Note #}

		{% if block.note|length %}

			<p>{{ block.note }}</p>

		{% endif %}

	</div>

</section>