{# Block: Update Blocks #}

{% if block.updateBlocks|length %}

	{% set updates = block.updateBlocks.all() %}

	<section class="section--update-blocks">

		<div class="uk-container">
	
			<div class="uk-grid-collapse grid--update-blocks" uk-height-match=".block--update" uk-grid>
			
				{% for update in updates %}

					<div class="uk-width-1-1 uk-width-1-3@m">
					
						<div class="block--update uk-cover-container">

							{# Image #}

							{% if update.bgImg|length %}

								{% set asset = update.bgImg.one() %}

								{% set transformedImages = craft.imager.transformImage(asset, [
									{ width: 1200, jpegQuality: 100 }, 
									{ width: 960, jpegQuality: 100 },
									{ width: 768, jpegQuality: 70 }, 
									{ width: 640, jpegQuality: 65 }, 
									{ width: 480, jpegQuality: 65 }
								], { position: 'center-center', jpegQuality: 100 }) %}

							    <img src="{{ craft.imager.placeholder({ width: 160, height: 90 }) }}" sizes="100vw" srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ asset.title }}" uk-cover>

							{% endif %}

							<div class="block--copy uk-text-center">
							
								{# Heading #}
							
								{% if update.heading|length %}

									<h2>{{ update.heading }}</h2>

								{% endif %}

								{# Copy #}

								{{ update.copy }}
							
							</div>
						
						</div>
					
					</div>
					
				{% endfor %}
			
			</div>
		
		</div>

	</section>

{% endif %}