{# Block: Video, Image & Copy #}

<section class="learn-more-extra-section section--video{% if block.backgroundStyle == "white" %} bg--white{% endif %}">

	<div class="uk-container">

		<div class="learn-more-block grid--video">
		
			<div uk-grid class="uk-grid-collapse uk-flex">

				{# Video #}

				{% if block.video|length %}

					<div class="uk-width-1-2@m{% if block.layoutPosition == "right" %} uk-flex-last@m{% endif %}">

						<div class="block--video image-block">

							<div class="uk-cover-container">

								{# Image #}

								{% set asset = block.img.one() %}

								{% set transformedImages = craft.imager.transformImage(asset, [
									{ width: 1200, jpegQuality: 100 }, 
									{ width: 960, jpegQuality: 100 },
									{ width: 768, jpegQuality: 70 }, 
									{ width: 640, jpegQuality: 65 }, 
									{ width: 480, jpegQuality: 65 }
								], { position: 'center-center', jpegQuality: 100 }) %}

							    <img src="{{ craft.imager.placeholder({ width: 160, height: 90 }) }}" sizes="100vw" srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ asset.title }}" uk-cover>

								<a href="#modal-media-video--{{ currentLoop }}" uk-toggle class="uk-button uk-button-default uk-button-video"><span>Watch video</span></a>

							</div>

							{# Video #}

							<div id="modal-media-video--{{ currentLoop }}" class="uk-modal modal--video" uk-modal>

							    <div class="uk-modal-dialog uk-cover-container">

							        <button class="uk-modal-close-full" type="button" uk-close></button>

							        <iframe src="{{ block.video }}" width="960" height="540" frameborder="0" uk-video></iframe>

							    </div>

							</div>
						
						</div>

					</div>

				{% endif %}

				{# Copy #}

				{% if block.copy|length %}

					<div class="uk-width-1-2@m uk-flex uk-flex-middle">

						<div class="block--text text-block{% if block.layoutPosition == "right" %} uk-margin-remove{% endif %}">

							{{ block.copy }}

						</div>

					</div>

				{% endif %}

			</div>
		
		</div>

	</div>

</section>