{# Footer #}

<footer class="footer">

	<section class="footer--top uk-padding {# uk-padding-remove-left #}">

		<div class="uk-container">

			<div class="uk-flex-middle" uk-grid>

				<div class="uk-width-1-5@m">
					
					<div class="logo">

						<a href="{{ siteUrl() }}"><img src="{{ url('assets/img/logo-white-v2.svg') }}" alt="cricker logo"></a>

					</div>
					
				</div>

				<div class="uk-width-3-5@m">

					{# {% include '_inc/_menus/_footer-top' %} #}

				</div>

				<div class="uk-width-1-5@m">

					{# {% include '_inc/_menus/_social-media' %} #}

				</div>

			</div>

		</div>

	</section>

	<section class="footer--bottom uk-padding-small">

		<div class="uk-container">

			<div class="footer--bottom--grid uk-flex-middle" uk-grid>

				{% if copyright.text|length %}

					<div class="uk-width-1-1 uk-width-1-2@m">

						<div class="copyright-text--block">

							<p>{{ copyright.text }}</p>

						</div>

					</div>

				{% endif %}

				<div class="uk-width-1-1 uk-width-1-2@m">

					<div class="footer-menu--block">

						{% include '_inc/_menus/_footer-bottom' %}

					</div>

				</div>

			</div>

		</div>

	</section>

</footer>