{# Header #}

<header class="header" {# uk-sticky="top: 0; cls-active: sticky" #}>

	<div class="header--top uk-padding-small">
	
		<div class="uk-container">

			{# Header Top #}

			<div class="header--grid uk-flex uk-flex-middle" uk-grid>

				{# Logo #}

				<div class="uk-width-1-2 uk-width-1-3@s uk-width-1-4@m">
				
					<div class="header--block--logo">
					
						<a href="{{ siteUrl() }}"><img src="{{ url('assets/img/logo-v2.svg') }}" alt="cricker logo"></a>
					
					</div>
				
				</div>

				{# Header CTAs #}

				<div class="uk-width-1-1 uk-width-1-3@s uk-width-1-4@m uk-flex-last@s">
				
					<div class="header--block--user">
					
						<nav>

							<ul class="uk-iconnav uk-flex uk-flex-right">

								<li><a href="#" uk-icon="icon: cart"></a></li>

							    <li><a href="#" uk-icon="icon: user"></a></li>

							    <li><a href="#" uk-icon="icon: sign-in"></a></li>

							</ul>

						</nav>
					
					</div>
				
				</div>

				{# Search #}

				<div class="uk-width-1-2 uk-width-1-3@s uk-width-1-2@m">

					<div class="header--block--search">
					
						<form class="uk-search uk-search-large">

						    <span uk-search-icon></span>

						    <input class="uk-search-input" type="search" placeholder="Search...">

						</form>
					
					</div>

				</div>	
			
			</div>

		</div>
	
	</div>

	<div class="header--nav uk-padding-small">

		<div class="uk-container">
		
			{# Header Menu #}

			<div class="header--grid--menu uk-flex-center uk-margin-remove-top" uk-grid>
			
				<div class="uk-width-1-1 {# uk-width-1-2@m #}">
				
					<div class="header--block--menu">
					
						{% include '_inc/_menus/_main' %}
					
					</div>
				
				</div>
			
			</div>

			{# <button id="hamburger" class="hamburger" uk-toggle="target: #hamburger, #mobile-wrapper; cls: opened;">
			
				<span></span>

				<span></span>

				<span></span>

			</button> #}

		</div>
	
	</div>

</header>

<div class="lefty">

	<p>I'm a leftt!</p>

	

</div>