// ==========================================================

// Jordan Craft Limited
// Version: 1.1
// Based on 320 and Up by Andy Clarke URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0
// UIKIT by YOOtheme URL: http://getuikit.com/ & http://yootheme.com/
// Licensed under MIT license. http://opensource.org/licenses/MIT

// ==========================================================

/* 480 =================================================== */

// 1. ROOT 					==============================
// 2. TYPOGRAPHY 			==============================
// 3. COLOUR 				==============================

/* Color Theme Swatches in Hex */
@Copy-of-Cricket-2---2018-1-hex: #EFECCB;
@Copy-of-Cricket-2---2018-2-hex: #FF302C;
@Copy-of-Cricket-2---2018-3-hex: #458965;
@Copy-of-Cricket-2---2018-4-hex: #066380;
@Copy-of-Cricket-2---2018-5-hex: #28544B;

// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================
// 6. LAYOUT 				==============================

/* Header */

.header {

}


/* Content Blocks */

/* Section:  */


// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================