// ==========================================================

// Jordan Craft Limited
// Version: 1.1
// Based on 320 and Up by Andy Clarke URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0
// UIKIT by YOOtheme URL: http://getuikit.com/ & http://yootheme.com/
// Licensed under MIT license. http://opensource.org/licenses/MIT

// ==========================================================

/* Page Base =================================================== */

// 1. ROOT 					==============================

* {
	outline:none !important;
	-webkit-appearance:none !important;
	-moz-appearance:none !important;
}

.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}

@-webkit-viewport { 
	width: device-width;
}

@-moz-viewport { 
	width: device-width;
}

@-ms-viewport { 
	width: device-width;
}

@-o-viewport { 
	width: device-width;
}

@viewport { 
	width: device-width; 
}

html {
	background: @bodycolor; 
	font-size: 62.5%;
	-webkit-overflow-scrolling: touch; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

body { 
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: transparent;
	font-family: @basefont;
	.font-size(16);
	line-height: @baselineheight;
	color: @textcolor;
	overflow-x: hidden;
	overflow-y: hidden;
}

::-moz-selection {
    color: @white;
    background: @sitered-shade-dark-1;
}
::selection {
    color: @white;
    background: @sitered-shade-dark-1;
}

.uk-progress {
    background-color: @white;
    border: none; /* Needed for Firefox */
    color: @white; /* For IE10 */
    -webkit-appearance: none; /* Needed for WebKit/Blink */
}
.uk-progress::-moz-progress-bar { 
    background-color: @white;
}
.uk-progress::-webkit-progress-value {
    background-color: @white;
}
.uk-progress::-webkit-progress-bar {
    background-color: @white;
}

// 2. TYPOGRAPHY 			==============================

/*****Colour Fade Elements*****/
a, input, textarea, button, span, i, ul, li {
	text-decoration: none;
	-moz-transition-property: color, background-color, opacity, border-color;
	-moz-transition-duration: 0.3s;
	-webkit-transition-property: color, background-color, opacity, border-color;
	-webkit-transition-duration: 0.3s;
	transition-property: color, background-color, opacity, border-color;
	transition-duration: 0.3s;
}

h1, h2 ,h3 ,h4 ,h5 ,h6 {
	font-family: @baseheadingfont;
	line-height: 1.35em;
	margin: 0 0 25px;
	font-weight: 300;

	strong, b {
		font-family: @baseheadingfont;
		font-weight: 700;
	}

	em, i {
		font-family: @baseheadingfont;
		font-style: italic;
	}
}

h1 {
	.font-size(24);
}

h2 {
	.font-size(20);
}

h3 {
	.font-size(18);
}

h4 {
	.font-size(16);
}

h5 {
	.font-size(14);
}

h6 {
	.font-size(14);
}

p, blockquote {
	.font-size(14);
	line-height: 1.25;
	margin: 0 0 20px;
	font-weight: 300;

	em {
		font-style: italic;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

strong, b {
	font-weight: 700;
}

/*ul, ol {
	margin: 0 0 20px 25px;
	padding: 0;
	list-style-position: outside;

	li {
		.font-size(16);
		line-height: 1.25;
		margin: 0;
		padding: 0;
		font-weight: 300;
	}

	&:last-child {
		margin-bottom: 0;
	}
}*/

a, .uk-link {
	color: @textdark;
	text-decoration: none;
	//.link-line();

	&:hover {
		color: @sitered;
		text-decoration: none;
	}
}

em, i {
	color: inherit;
}

.link-line() {
	position: relative;
	
	&:after {
		content: "";
		width: 0;
		height: 2px;
		background: @sitered;
		left: 0;
		bottom: 0;
		.transition(width 0.3s);
		position: absolute;
	}

	&:hover {

		&:after {
			width: 100%;
		}
	}
}

// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================

/* Container */

.uk-container {
	max-width: 1300px;
	//padding-left: 20px;
	//padding-right: 20px;
}

/*.uk-button {
	margin: 0;
	.font-size(18);
	color: @textdark;
	text-align: center;
	line-height: 45px;
	padding: 0 10px 0 13px;
	background: @white;
	font-family: @font-regular;
	.box-sizing();
	position: relative;
	display: inline-block;
	.rounded(5px);
	border: 1px solid @textdark;

	&:hover {
		color: @white;
		background: @textdark;
		border: 1px solid @textdark;
	}

	&:disabled {
		cursor: not-allowed;
	}
}*/

.uk-button {
	.font-size(16);
	.box-sizing();
	text-align: center;
	.rounded(5px);
	border: 1px solid @textdark;
	background: @textdark;
	color: @palettebabypowder;
	text-transform: none;
	font-weight: 500;
	line-height: 45px;

	&:hover {
		color: @textdark;
		background: @palettebabypowder;
		border: 1px solid @textdark;
	}

	&:disabled {
		cursor: not-allowed;
	}

	&.uk-button-red {
		background: @sitered;
		color: @palettebabypowder;
		border: 1px solid @sitered;

		&:hover {
			background: @sitered-shade-light-5;
			color: @palettebabypowder;
			border: 1px solid @sitered-shade-light-5;
		}
	}
}

/* Form Fields */

form {
	.transition(opacity 0.3s);

	.uk-input, 
	.uk-select, 
	.uk-textarea {
		height: 62px;
		background-color: @sitelightgrey;
		color: @sitedarkgrey;
		padding: 25px;
		font-family: @font-regular;

		&::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
			color:@textdark;
			.opacity(0.75);
		}

		&:required:focus {
			.box-shadow(none);
		}

		&:required:invalid {
			.box-shadow(none);
		}

		&:required:focus:invalid {
			.box-shadow(none);
		}

		&:required:valid {
			background: @white;
			color: @sitegreen;
			border: 1px solid @sitegreen;

			&::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
				color: @white;
				.opacity(0.75);
			}
		}

		&:required:focus:valid {
			color: @sitegreen;
		}

		&.error {
			.box-shadow(none);
			background: @sitered !important;
			color: @white !important;
			border: 1px solid @sitered !important;

			&::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
				color: @white;
				.opacity(0.75);
			}
		}
	}

	.uk-textarea {
		height: 100px;
		min-height: 100px;
		max-height: 100px;
		width: 100%;
		min-width: 100%;
		max-width: 100%;
		.transition(all 0.35s);

		&:focus {
			height: 250px;
			min-height: 250px;
			max-height: 250px;
		}
	}

	label {
		color: @sitedarkgrey;
		font-family: @font-regular;
		.font-size(12);
		line-height: 1.25;
	}

	.uk-checkbox {
		border: 1px solid @sitedarkgrey;
		background-color: transparent;
		width: 17px;
		height: 17px;
		float: left;
		vertical-align: top;
		margin-top: 1px;
	}

	.field {
		position: relative;
	}

	.help-block {
 		animation-name: fadeIn;
 		text-align: center;
		.font-size(11);
		position: absolute;
		left: 0;
		bottom: -30px;

		&.form-error {
			color: @sitered;
		}
	}

	&.disabled {
		.opacity(.3);
	}
}

.uk-checkbox {
	width: 20px;
	height: 20px;
	border: 1px solid @white;
	margin-right: 10px;
	background-color: @white;
	display: inline-block;

	&:checked {
		background-color: @sitegreen;
		border: 1px solid @sitegreen;
		color: @white;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23fff%22%20points%3D%2212%201%205%207.5%202%205%201%205.5%205%2010%2013%201.5%22%2F%3E%0A%3C%2Fsvg%3E");
	}

	&:required:invalid {
		.box-shadow(none);
	}

	&:required:focus:invalid {
		.box-shadow(none);
		border: 2px solid @sitered;
	}
}

.form-message {
	display: none;
	padding: 10px;
	margin-top: 15px;

	p {
		.font-size(15);
		color: @white;
		margin: 0 !important;
		line-height: 1.35em;
	}

	&.success {
		color: @white;

		p {
			color: @white;
		}
	}

	&.errors {
		background: transparent;
		color: @white;
		font-style: italic;

		p {
			color: @white;
			font-style: italic;
		}
	}
}

.form-terms {

	label {
		.font-size(12);
		max-width: 525px;
		display: block;
	}

	a {
		color: @sitered;
		text-decoration: none;

		&:hover, &:focus {
			color: @sitegreen;
			text-decoration: none;
		}
	}
}

/*Break long email address*/

.email-address {
	-ms-word-break: break-all;
     word-break: break-all;

     // Non standard for webkit
     word-break: break-word;

	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

// Lightbox

.uk-lightbox {
	background: rgba(30,30,30,0.9);
}

// Background Styles

.bg--grey {
	background: @sitelightgrey !important;
}

.bg--darkGrey {
	background: @sitedarkgrey !important;
}

.bg--white {
	background: @white !important;
}

// Show/Hide

.hide-element {
	visibility: hidden;
	.opacity(0);
}

.show-element {
	visibility: visible;
	.opacity(1);
}

// 6. LAYOUT 				==============================

/* Header */

.header {
	border-top: 5px solid @sitered;

	.header--top {
		background: @palettebabypowder;
	}
	
	.header--block--logo {

		img {
			max-width: 200px;
			height: auto;
		}
	}

	.header--block--search {
		background: @palettecultured;

		.uk-search {
			width: 100%;

			.uk-search-icon {
				width: 50px;
			}

			.uk-search-input {
				height: 50px;
				.font-size(18);
				color: @textdark;
				font-weight: 500;
			}
		}
	}

	.header--nav {
		background: @palettecultured;
	}

	// Navigation

	.nav--main {
		//padding: 15px;
	}

	.header--block--menu {

		.menu--main > li {
			padding: 0 35px;
		}

		.menu--main > li > a {
			height: auto;
			min-height: 0;
			.font-size(15);
			text-transform: none;
			font-family: @font-regular;
			font-weight: 500;
			padding: 0;
			color: @textdark;
			.link-line();

			&:hover {
				color: @sitered;
			}
		}

		.menu--sub-menu > li {
			padding: 5px 0;
		}

		.menu--sub-menu > li > a {
			.font-size(14);
			font-family: @font-regular;
			font-weight: 500;
			.link-line();
			display: inline-block;
			padding: 0;

			&:hover {
				color: @sitered;
			}
		}
	}
}

/* Lefty */

.lefty {
	position: fixed;
	right: -5px;
	top: 30%;
	background: @sitered;
	.rounded(5px);
	padding: 10px 15px 10px 10px;

	p {
		.font-size(16);
		font-weight: 500;
		margin: 0;
		color: @palettebabypowder;
	}
}

/* Content Blocks */

/* Section:  */

/* Section: Banner */

.section--banner {

	.banner--slideshow {

		.uk-slideshow-items {

			li {
				background: @palettecultured;
			}
		}
	}
}

/* Section: Product Strip */

.section--product-strip {

	.product-strip--heading {

		.heading--block {

			h1, h2, h3, h4, h5, h6 {
				.font-size(24);
				margin-bottom: 0;
				font-weight: 400;
			}
		}

		.view-all--block {

			a {
				display: block;

				&:after {
					bottom: -1px;
					height: 1px;
				}
			}
		}
	}
}

/* Product Card */

.product--card {
	padding: 30px;

	.card--img-link {
		display: block;
		position: relative;
		margin-bottom: 20px;
		width: 100%;
		padding-top: 115%;

		img {
			//display: block;

			/*&.img--default {
				position: absolute;
				top: 0;
				left: 0;
			}*/
		}
	}

	

	h2 {
		.font-size(16);
		font-weight: 500;
		color: @sitered;
		margin: 0 0 5px;
		line-height: 1.25em;

		a {
			color: @sitered;
			.link-line();
			display: inline-block;

			&:hover {
				color: @sitered;
			}
		}
	}

	h3 {
		.font-size(22);
		font-weight: 500;
		margin: 0 0 15px;
		line-height: 1.25em;
		display: block;

		a {
			color: @textdark;

			&:hover {
				color: @sitered;
			}
		}
	}

	p {

		&.price {
			color: @palettematanee;
			.font-size(18);
			font-weight: 500;
			margin: 0 0 20px;
		}
	}
}

/* Footer */

.footer {

	.footer--top {
		border-top: 5px solid @textdark;
		background: @sitered;
		color: @palettebabypowder;
		min-height: 200px;
	}

	.footer--bottom {
		background: @palettebabypowder;
		color: @textdark;

		.copyright-text--block {

			p {
				color: @textdark;
				.font-size(13);
				font-weight: 500;
				margin: 0;
				line-height: 1.5em;
			}
		}

		.footer-menu--block {

			.menu--footer-bottom {
				list-style: none;
				margin: 0;
				padding: 0;
				text-align: right;

				li {
					color: @textdark;
					.font-size(13);
					font-weight: 500;
					margin: 0 1px 0 5px;
					line-height: 1.5em;
					display: inline-block;
					padding: 0;

					a {
						color: @textdark;
						.link-line();
						display: block;

						&:hover {
							color: @sitered;
						}

						&:after {
							height: 1px;
						}
					}

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}
}

// 7. VENDOR-SPECIFIC 		==============================
// 8. ANIMATION 			==============================

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}