//
// Component:       Variables
// Description:     Defines all color and style related values as variables
//                  to allow easy customization for the most common cases.
//
// ========================================================================


// Global variables
// ========================================================================

//
// Breakpoint Override
//

@breakpoint-phone:    480px;  // Small Phone
@breakpoint-small:    640px;  // Phone landscape
@breakpoint-medium:   960px;  // Tablet Landscape
@breakpoint-large:    1200px; // Desktop
@breakpoint-xlarge:   1600px; // Large Screens

@breakpoint-phablet:  @breakpoint-small;

/* Variables =================================================== */

// 1. ROOT          ==============================

@bodycolor : @palettebabypowder;
@textcolor : @textdark;

// 2. TYPOGRAPHY      ==============================

@basefont : @font-regular, sans-serif;
@basefontsize : 16;
@baselineheight : 25px;
@baseheadingfont : @font-heading, sans-serif;
@baseheadingfontweight : normal;
@baseheadingfontcolor : inherit;

@altfont : Cambria, Georgia, Times, "Times New Roman";
@altlineheight : 1.35em;

@codefont : Monaco, Courier New, monospace;

@font-regular       : 'Inter var';
@font-heading       : 'Kanit';

@heading			: @font-regular;

// 3. COLOUR        ==============================

@basecolor          : rgb(45,53,62);    
@compcolor          : spin(@basecolor, 180); 
@bordercolor        : lighten(@basecolor, 60%);

// Links

@linkcolor            : @black;
@linkcolorhover       : @black;
@linkcolorvisited     : @black;
@linkcolorfocus       : @black;

// greyscale

@black          : rgb(0,0,0);
@darkgrey       : lighten(@black, 25%);
@grey           : lighten(@black, 50%);
@lightgrey      : lighten(@black, 75%);
@lightergrey    : lighten(@black, 90%);
@white          : rgb(255,255,255);

// colour palettes

@alertcolor     : rgb(252,248,227);
@errorcolor     : rgb(218,79,73);
@infocolor      : rgb(217,237,247);
@inverscolor    : rgb(65,65,65);
@successcolor   : rgb(91,183,91);
@warningcolor   : rgb(250,167,50);


// site greyscale colours

@sitelightgrey      : @paletteplatinum;
@sitedarkgrey       : @palettebattleship;

// site colours

@sitered 			: #FF302C;
@sitebiege			: #EFECCB;
@sitegreen			: #458965;
@siteteal			: #066380;
@sitedarkgreen		: #28544B;

@sitered-shade-red		: #E62A27;
@sitered-shade-red-2	: #BF2321;
@sitered-shade-red-3	: #801716;
@sitered-shade-red-4	: #400C0B;

/* site rgba */

@sitered-rgba				: rgba(255, 48, 44, 1);
@sitered-shade-red-rgba		: rgba(230, 42, 39, 1);
@sitered-shade-red-2-rgba	: rgba(191, 35, 33, 1);
@sitered-shade-red-3-rgba	: rgba(128, 23, 22, 1);
@sitered-shade-red-4-rgba	: rgba(64, 12, 11, 1);

/* palette */

@palettematanee			: #a0a4b8;
@paletteslate			: #7293a0;
@paletteplatinum		: #e3e3e3;
@palettebattleship		: #898989;
//@palettebabypowder		: #FDFFFC;
@palettebabypowder		: #FFFFFC;
@palettedarkjungle		: #071E22;
@palettegunmetal		: #2A2D34;
@palettecultured		: #F7F8F9;
@paletteonyx			: #313638;

/* shades */

@sitered-shade-light-1 		: #FFAE91;
@sitered-shade-light-2 		: #FF927A;
@sitered-shade-light-3 		: #FF7664;
@sitered-shade-light-4 		: #FF5A4E;
@sitered-shade-light-5 		: #FF3E37;

@sitered-shade-dark-1 		: #EE2B28;
@sitered-shade-dark-2 		: #CC221F;
@sitered-shade-dark-3 		: #AA1816;
@sitered-shade-dark-4 		: #880E0D;
@sitered-shade-dark-5 		: #660504;

@palettebabypowder-shade-dark-1		: #E4E6E3;

// text colours

@textdark           : @paletteonyx;
@textlight			: #707070;




@sitegreen			: #328c7d;
@sitepurple			: #886996;
@siteblue           : #307390;

@sitelightgreen		: #e5f7f4;
@sitelightpurple	: #f2edf4;
@sitelightblue		: #e6eff5;






// Fonts:       
//
// ========================================================================

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;700;900&display=swap');
@import url('https://rsms.me/inter/inter.css'); // Inter

@icon-font-path:                                "../fonts";