{# 404 Page Template #}

{% extends "_layout" %}

{% set templateName = "temp--inner" %}

{% set noFollow = 1 %}

{% set metaTitleOveride = "404 Error - " ~ siteName %}

{% block content %}

	<section class="hero-secondary-section">

		<div class="uk-container">

			<div class="infoblock-el">

				<div uk-grid class="uk-child-width-1-2@m uk-grid-collapse uk-flex-middle">

					<div>

						<div class="text-block">

							{# Heading #}

							<h1>404 Error</h1>

							{# Copy #}

							<p>The page you requested could not be found.</p>

						</div>

					</div>

					{# Image #}

				    <div>

						<div class="image-container">

							<div class="image-wrapper">

								<div class="image-block">

									<div class="uk-cover-container">

										{% set asset = url('uploads/page/banner/AdobeStock_270200637.jpeg') %}

										{% set transformedImages = craft.imager.transformImage(asset, [
											{ width: 1200, jpegQuality: 100 }, 
											{ width: 960, jpegQuality: 100 },
											{ width: 768, jpegQuality: 70 }, 
											{ width: 640, jpegQuality: 65 }, 
											{ width: 480, jpegQuality: 65 }
										], { position: 'center-center', jpegQuality: 100 }) %}

									    <img src="{{ craft.imager.placeholder({ width: 160, height: 90 }) }}" sizes="100vw" srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ asset.title }}" uk-cover>

									</div>

								</div>

							</div>

						</div>

					</div>

				</div>

			</div>

		</div>

	</section>

{% endblock %}