{# Home Template #}

{% extends "_layout" %}

{% set templateName = "temp--home" %}

{# Contact Scroll Variable #}

{% if entry.noFollow|length %}

    {% set noFollow = entry.noFollow %}

{% endif %}

{# Main Block Content #}

{% block content %}

	{# Banner #}

	<section class="section--banner uk-padding">

		<div class="uk-container">

			<div class="banner--slideshow">
			
				<div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow="animation: push; min-height: 300; max-height: 400">

				    <ul class="uk-slideshow-items">

				        <li>

				        	<img src="https://cdn.shopify.com/s/files/1/0291/6686/2389/files/1787B904-CC84-4DAB-9389-EA7E71419D1F_1728x.jpeg" alt="" uk-cover>
				            
				            <div class="uk-position-center uk-position-small uk-text-center">

				                <h2>Heading</h2>

				                <p>Lorem ipsum dolor sit amet.</p>

				            </div>

				        </li>

				        <li>

				        	<img src="https://cdn.shopify.com/s/files/1/0291/6686/2389/files/Player_Pro_Batting_Pad_and_Glove_slideshow_1080x.jpg" alt="" uk-cover>

				            <div class="uk-position-center uk-position-small uk-text-center">

				                <h2>Heading</h2>

				                <p>Lorem ipsum dolor sit amet.</p>

				            </div>

				        </li>

				        <li>
				            
				            <div class="uk-position-center uk-position-small uk-text-center">

				                <h2>Vendor Applications</h2>

				                <p>Would you like to list your products on cricker.co.uk? <a href="#">Click here</a> to find out more information.</p>

				            </div>

				        </li>

				    </ul>

				    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
				    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

				</div>
			
			</div>
		
				
		
		</div>
	
	</section>

	{# Products Examples #}

	{% macro card(img = "https://dummyimage.com/263x300/f7f8f9/898989.png&text=Product+Image", imgHover = "https://dummyimage.com/263x300/898989/f7f8f9.png&text=Product+Image+Hover", vendor = "Vendor Name", title = "Product Title", price = "£xx.xx", loopId = 0) %}

	    <div>

	        <div class="uk-card uk-card-default uk-card-body product--card">

	        	<a href="#" {# uk-toggle="target: toggle-hover--{{ loopId }}; mode: hover" #} class="card--img-link uk-cover-container">

	        		{# <img src="{{ img }}" alt="" class="img--default" id="toggle-hover--{{ loopId }}"> #}

	        		{# <img src="{{ imgHover }}" alt=""> #}

	        		<img src="{{ img }}" alt="" uk-cover>

	        	</a>

	        	<h2><a href="#">{{ vendor }}</a></h2>

	            <h3 class="card--title"><a href="#">{{ title }}</a></h3>

	            <p class="price">{{ price }}</p>

	            {# <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> #}

	            <p><a href="#" class="uk-button uk-button-red">Buy</a></p>

	        </div>
	        
	    </div>

	{% endmacro %}

	{% set card %}

		<div>

	        <div class="uk-card uk-card-default uk-card-body product--card">

	        	<a href="#">

	        		<img src="https://cdn.shopify.com/s/files/1/0291/6686/2389/products/image_c9a440a9-0e5a-440e-af18-7b15bc8711e9_300x300.jpg" alt="">

	        	</a>

	        	{# //cdn.shopify.com/s/files/1/0291/6686/2389/products/image_3595d0a5-3cf1-47fa-b2ef-6b4bdb319656_300x300.jpg?v=1588267654 #}

	            <h2><a href="#">Players Pro Gloves MK2</a></h2>

	            <p class="price">£70.00</p>

	            {# <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> #}

	            <p><a href="#" class="uk-button uk-button-red">Buy</a></p>

	        </div>

	    </div>

	{% endset %}

	{# Recommended #}

	<section class="section--product-strip uk-padding">
	
		<div class="uk-container">

			{# Heading #}
		
			<div class="product-strip--heading uk-margin-medium-bottom">

				<div class="product-strip--heading--grid uk-grid-collapse" uk-grid>
				
					<div class="uk-width-1-2">
					
						<div class="heading--block">
						
							<h2>Recommended</h2>
						
						</div>
					
					</div>

					<div class="uk-width-1-2 uk-flex uk-flex-middle uk-flex-right">
					
						<div class="view-all--block">
							
							<p><a href="#">View All</a></p>
						
						</div>
					
					</div>
				
				</div>
			
			</div>

			{# Product Grid #}

			<div class="uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-4@m uk-grid-match" uk-grid uk-height-match=".card--title">

				{# {% for i in 1..4 %}
				
					{{ _self.card('https://cdn.shopify.com/s/files/1/0291/6686/2389/products/image_c9a440a9-0e5a-440e-af18-7b15bc8711e9_300x300.jpg', '//cdn.shopify.com/s/files/1/0291/6686/2389/products/image_3595d0a5-3cf1-47fa-b2ef-6b4bdb319656_300x300.jpg', 'Wombat Cricket' , 'Players Pro Gloves MK2', '£70.00', 1) }}

				{% endfor %} #}

				{{ _self.card('https://cdn.shopify.com/s/files/1/0291/6686/2389/products/image_c9a440a9-0e5a-440e-af18-7b15bc8711e9_300x300.jpg', '//cdn.shopify.com/s/files/1/0291/6686/2389/products/image_3595d0a5-3cf1-47fa-b2ef-6b4bdb319656_300x300.jpg', 'Wombat Cricket' , 'Players Pro Gloves MK2', '£70.00', 1) }}

				{{ _self.card('//cdn.shopify.com/s/files/1/0291/6686/2389/products/image_6dd57ba6-da0e-4a6c-aa0b-ed6e511f7612_300x300.jpg', '//cdn.shopify.com/s/files/1/0291/6686/2389/products/Proplayerspads_300x300.jpg', 'Wombat Cricket' , 'Players Pro Pads MK2', '£70.00', 2) }}

				{{ _self.card('https://geckocricket.com/wp-content/uploads/2017/02/gecko-cricket-legs-protector-white-2-500x650.png', 'https://geckocricket.com/wp-content/uploads/2017/02/gecko-cricket-legs-protector-white-4-500x650.png', 'Gecko' , 'Limited Edition Batting Pads', '£96.00', 3) }}

				{{ _self.card('https://geckocricket.com/wp-content/uploads/2017/02/gecko-cricket-gloves-white-silver-3--500x650.png', 'https://geckocricket.com/wp-content/uploads/2017/02/gecko-cricket-gloves-white-silver-2--500x650.png', 'Gecko' , 'Limited Edition Batting Gloves', '£84.00', 3) }}

			</div>
		
		</div>
	
	</section>

	{# Example Array #}

	<section class="section--product-strip uk-padding">
	
		<div class="uk-container">

			{# Heading #}
		
			<div class="product-strip--heading uk-margin-medium-bottom">

				<div class="product-strip--heading--grid uk-grid-collapse" uk-grid>
				
					<div class="uk-width-1-2">
					
						<div class="heading--block">
						
							<h2>Gloves</h2>
						
						</div>
					
					</div>

					<div class="uk-width-1-2 uk-flex uk-flex-middle uk-flex-right">
					
						<div class="view-all--block">
							
							<p><a href="#">View All</a></p>
						
						</div>
					
					</div>
				
				</div>
			
			</div>

			{# Product Grid #}

			<div class="uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-4@m uk-grid-match" uk-grid>

				{% for i in 1..8 %}
					
					{{ card }}

				{% endfor %}

			</div>
		
		</div>
	
	</section>

	{# Padding #}

	<div class="uk-padding"></div>

	{# Banner 

	{% include '_inc/_banner' %}#}

	{# Content Blocks

	{% include '_inc/_content-blocks' %} #}

{% endblock %}